<script type="text/javascript">
jQuery(function($) {
    var map = L.map('map').setView([11.5, 124], 8);
    L.tileLayer('http://{s}.tile.cloudmade.com/267C06F3EF3E439C8B99C7FD0D78491E/997/256/{z}/{x}/{y}.png', {
        attribution: 'Geocode Mapper &copy; <a href="http://www.arcanys.com">Arcanys Inc.</a>, Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 18
    }).addTo(map);

	var markers = [];
	var clear_markers = function(){
		for( x in markers ) {
			map.removeLayer(markers[x]);
		}
		markers = [];
		//displayArea();
	};

    var createMunicipalityMarker = function( coords, mark_up ) {
        var marker = L.polygon( coords ).addTo(map);

        var template = $('.municipality-template').clone();
        template.removeClass('hidden')
            .removeClass('municipality-template');
        $.each( mark_up, function( key, value ) {
            $('.'+key, template).html(value);
        });

        marker.bindPopup( $('<div>').append(template).html() );
		markers[marker._leaflet_id] = marker;
    };

    var createBarangayMarker = function( lat, lang, mark_up ) {
        var marker = L.circle([lat, lang], 500, {
            color: 'orange',
            fillColor: '#0000ff',
            fillOpacity: 0.3
        }).addTo(map);

        var template = $('.barangay-template').clone();
        template.removeClass('hidden')
            .removeClass('barangay-template');
        $.each( mark_up, function( key, value ) {
            $('.'+key, template).html(value);
        });

        marker.bindPopup( $('<div>').append(template).html() );
		markers[marker._leaflet_id] = marker;
    };

	var xhr, tmr;
	$(document).on("change", ".filter-province", function() {
		$(".new-entry-loader").css({'visibility':'visible'});
		var id = $(this).val();
		var url = "{{ path('map') }}?r="+Math.random()+"&_p="+id;
		if (tmr) clearTimeout(tmr);
		tmr = setTimeout(function() {
			$(".hdloader").show();
			if (xhr && xhr.readyState != 4) xhr.abort();
			$(".maintable").hide();
			xhr = $.get(url, function(data) {
				clear_markers();
				populate_dynamic(data.mapMarkers.municipalityMarkers, data.mapMarkers.barangayMarkers);
				$(".new-entry-loader").css({'visibility':'hidden'});
			});
		}, 200);
	});

	function populate_dynamic(municipalityMarkers, barangayMarkers)
	{
		var mMarker, bMarker;
		for (var i in municipalityMarkers)
		{
			mMarker = municipalityMarkers[i];
            createMunicipalityMarker(mMarker['coords'], mMarker['info']);
		}
		for (var i in barangayMarkers)
		{
			bMarker = barangayMarkers[i];
            createBarangayMarker(bMarker['lat'], bMarker['lng'], bMarker['info']);
		}
	}


    {% for municipality in municipalities %}
        {% if municipality.coords %}
            var coords = [];
            {% for coords in municipality.coords %}
                coords.push([{{coords.lat}},{{coords.lng}}]);
            {% endfor %}
            createMunicipalityMarker(coords, {
                'municipality-name': '{{ municipality.name|e('js') }}',
                'municipality-population': '{{ municipality.population|number_format }}',
                'municipality-estimated-households': '{{ municipality.estimatedHouseholds|number_format }}',
                'municipality-affected-households': '{{ municipality.affectedHouseholds|number_format }}'
            });
        {% endif %}
        {% if municipality.barangays %}
            {% for barangay in municipality.barangays %}
                {% if barangay.coords %}
                    {% for coords in barangay.coords %}
            createBarangayMarker({{coords.lat}}, {{coords.lng}}, {
                'barangay-name': '{{ barangay.name|e('js') }}',
                'barangay-population': '{{ barangay.population|number_format }}',
                'barangay-estimated-households': '{{ barangay.estimatedHouseholds|number_format }}',
                'barangay-affected-households': '{{ barangay.affectedHouseholds|number_format }}'
            });
                    {% endfor %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}

});
</script>