<ul class="list-group municipality-template hidden">
    <li class="list-group-item active">
        <h3>Municipality: <span class="municipality-name"></span></h3>
    </li>
    <li class="list-group-item">
        <span class="badge municipality-population"></span>
        Population:
    </li>  
    <li class="list-group-item">
        <span class="badge municipality-estimated-households"></span>
        Estimated Households: 
    </li>
    <li class="list-group-item">
        <span class="badge">~<span class="municipality-affected-households"></span></span>
        Affected Households:
    </li>
</ul>