<ul class="list-group barangay-template hidden">
    <li class="list-group-item active">
        <h3>Barangay: <span class="barangay-name"></span></h3>
    </li>
    <li class="list-group-item">
        <span class="badge barangay-population"></span>
        Population:
    </li>  
    <li class="list-group-item">
        <span class="badge barangay-estimated-households"></span>
        Estimated Households: 
    </li>
    <li class="list-group-item">
        <span class="badge">~<span class="barangay-affected-households"></span></span>
        Affected Households:
    </li>
</ul>