{% extends "RMSRecoveryBundle::layout.html.twig" %}

{% block stylesheets_custom %}
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
    <style type="text/css">
        #map { height: 500px; }
    </style>
{% endblock stylesheets_custom %}

{% block content %}
{% include "RMSRecoveryBundle:HealthTeam:_provinces.html.twig" %}
<div class="text-right"><img style="visibility: hidden;margin-bottom: 20px;" class="right new-entry-loader" src="/bundles/rmsrecovery/images/ajax-loader_blue.gif" alt=""></div>
<!-- MAP STARTS HERE -->
<div id="map"></div>
{% include "RMSRecoveryBundle:Map:_popup_barangay.html.twig" %}
{% include "RMSRecoveryBundle:Map:_popup_municipality.html.twig" %}
<!-- MAP ENDS HERE -->
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    {% include "RMSRecoveryBundle:Map:_js.html.twig" %}
{% endblock javascripts %}