{% extends "RMSRecoveryBundle::layout.html.twig" %}

{% block stylesheets_custom %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/frontend-aid_distribution.css') }}" />
<link href="{{ asset('bundles/rmsrecovery/datepicker/css/datepicker.css') }}" rel="stylesheet">
{% endblock stylesheets_custom %}
    
{% block content %}

<div class="col-lg-10 col-md-offset-1">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-lg-10 col-md-offset-1">
                <div class="page-header">
                    <h1>Add New Entry</h1>
                </div>
                <form role="form" class="form-horizontal" id="add-entry-form" method="POST" action="{{ path('aid_entry') }}">
                    {{ form_widget(form) }}
                    <hr>
                    <button type="submit" class="btn btn-lg btn-success">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% include "RMSRecoveryBundle:AidEntry:_js.html.twig" %}
{% endblock %}
