<script src="{{ asset('bundles/rmsrecovery/datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript">
jQuery(function($) {
    $(document).on("click", '#btn-calendar', function() {
        $('#rms_recoverybundle_aid_dateStart').focus();
    });

    $(document).on("click", '#add-entry', function() {
        var cont = $('#entry-container');
        if (cont.is(":visible")) {
            $(this).html("{{ 'Show Entry Form'|trans }}");
        } else {
            $(this).html("{{ 'Hide Entry Form'|trans }}");
        }
        cont.stop().toggle();
        return false;
    });
    
    $(document).on("change", ".edit-province", function() {
        var muni = $(".edit-municipality").attr("disabled", "disabled");
        $("option[value!='']", muni).remove();
        $.post("{{ path('geo_options_municipality') }}"+"?r="+Math.random(), {id: $(this).val()}, function(data) {
            $.each(data, function(k,v) {
                $("<option></option>").attr("value", v.id).html(v.name).appendTo(muni);
            });
            muni.removeAttr("disabled");
            $("option[value!='']", ".edit-barangay").remove();
        });
    });
    
    $(document).on("change", ".edit-municipality", function() {
        var bara = $(".edit-barangay").attr("disabled", "disabled");
        $("option[value!='']", bara).remove();
        $.post("{{ path('geo_options_barangay') }}"+"?r="+Math.random(), {id: $(this).val()}, function(data) {
            $.each(data, function(k,v) {
                $("<option></option>").attr("value", v.id).html(v.name).appendTo(bara);
            });
            bara.removeAttr("disabled");
        });
    });
    
    function loadpicker() {
        try {
            $('.datepicker').datepicker({format: 'dd/mm/yyyy'})
            .on('changeDate', function(ev){
                $('.datepicker').datepicker('hide');
            });
        } catch(error) {
        }
    }
    loadpicker();
});
</script>
