{% extends "RMSRecoveryBundle::layout.html.twig" %}

{% block stylesheets_custom %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/frontend-aid_distribution.css') }}" />
<link href="{{ asset('bundles/rmsrecovery/datepicker/css/datepicker.css') }}" rel="stylesheet">
{% endblock stylesheets_custom %}

{% block content %}
<div class="row aid-distribution-wrapper">
    <div class="pane alert alert-warning">
        <h3>
            Edit Entry
            <img style="display:none;" class="right new-entry-loader" src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
        </h3>
        {{ form_errors(form) }}

        <form role="form" id="add-entry-form" method="POST" action="{{ path('edit_aid_entry', {id: aid.id}) }}">
            <div class="row">
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
                        <label for="Organization">Organization</label>
                        <input type="text" class="form-control" placeholder="Organization" value="{{ app.user.ngo }}" disabled="disabled">
                    </div>
                </div>
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
                        {{ form_label(form.province) }}
                        {{ form_widget(form.province) }}
                        </div>
                    </div>
                    <div class="col-xs-3 col-xs-no-padding-right">
                        <div class="form-group">
                        {{ form_label(form.municipality) }}
                        {{ form_widget(form.municipality) }}
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                        {{ form_label(form.geo) }}
                        {{ form_widget(form.geo) }}
                                </div>
                            </div>
                        </div>

                        <div class="row"><br></div>

                        <div class="row">
                            <div class="col-xs-3 col-xs-3-custom">
                                <div class="input-group form-group">
                        {{ form_label(form.dateStart) }}<br>&nbsp;
                        {{ form_widget(form.dateStart) }}
                                        <span class="input-group-btn btn-calendar-custom">
                                            <button id="btn-calendar" class="btn btn-default glyphicon glyphicon-calendar" type="button"></button>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-xs-3-custom col-xs-no-padding-left">
                                    <div class="form-group">
                        {{ form_label(form.type) }}<br>&nbsp;
                        {{ form_widget(form.type) }}
                                        </div>
                                    </div>
                                    <div class="col-xs-1 col-xs-no-padding-left">
                                        <div class="form-group">
                        {{ form_label(form.quantity) }}<br>&nbsp;
                        {{ form_widget(form.quantity) }}
                                            </div>
                                        </div>
                                        <div class="col-xs-4 col-xs-no-padding-left col-xs-4-custom">
                                            <div class="form-group">
                        {{ form_label(form.description) }}<br>&nbsp;
                        {{ form_widget(form.description) }}
                                                </div>
                                            </div>
                                            <div class="col-xs-1 col-xs-no-padding-left">
                                                <div class="form-group">
                        {{ form_label(form.peopleCatered) }}
                        {{ form_widget(form.peopleCatered) }}
                                                    </div>
                                                </div>
                                                <div class="col-xs-1 col-xs-no-padding-left">
                                                    <div class="form-group">
                        {{ form_label(form.duration) }}
                        {{ form_widget(form.duration) }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-xs-12" style="text-align: right">
                                                        <button type="submit" class="btn btn-lg btn-success" style="margin-right: 10px;">Save</button>
                                                        <a href="{{ path('aid_history') }}" class="btn btn-lg btn-warning right">Back</a>
                                                    </div>
                                                </div>

            {{ form_rest(form) }}
                                            </form>
                                        </div>
                                    </div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% include "RMSRecoveryBundle:AidEntry:_js.html.twig" %}
{% endblock %}
