<div class="row">
    <div class="alert alert-success">
        <strong>Success!</strong> Aid entry added successfully.
    </div>
</div>
{% render(controller("RMSRecoveryBundle:AidEntry:addEntry")) %}
