<script type="text/javascript">
jQuery(function($) {

    $(document).on("click", '#add-health-status', function() {
        var cont = $('#entry-container');
        cont.stop().toggle();
        return false;
    });

    $(document).on("submit", "#add-entry-form", function() {
        var $this = $(this), action = $this.attr("action");
        $(".alert-success", "#entry-container").remove();
        $(".new-entry-loader").show();
        $.post(action+"?r="+Math.random(), $this.serialize(), function(data) {
            $("#entry-container").html(data);
            loadpicker();
        });
        return false;
    });

    var xhr, tmr;
    $(document).on("change", ".filter-province", function() {
        var id = $(this).val();
        var url = "{{ path('health_status') }}?r="+Math.random()+"&_p="+id;
        if (tmr) clearTimeout(tmr);
        tmr = setTimeout(function() {
            $(".hdloader").show();
            if (xhr && xhr.readyState != 4) xhr.abort();
            $(".maintable").hide();
            xhr = $.get(url, function(data) {
                $("#hdcontent").html(data);
            });
        }, 200);
    });
});
</script>
