<div class="row add-health-status">
    <div class="pane alert alert-warning">
        <h3>
            Post Message
            <img style="display:none;" class="right new-entry-loader" src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
        </h3>
        {{ form_errors(form) }}

		<form role="form" id="add-entry-form" method="POST" action="{{ path('add_health_status') }}">
            <div class="row">
                <div class="col-xs-4 col-xs-no-padding-right">
                    <div class="form-group">
                        <label for="NGO">NGO</label>
                        <input type="text" class="form-control" placeholder="NGO" value="{{ status.reporter }}" disabled="disabled">
                    </div>
                </div>
                <div class="col-xs-4 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.location) }}
						{{ form_widget(form.location) }}
                    </div>
                </div>
			</div>
            <div class="row">
                <div class="col-xs-10 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.message) }}
						{{ form_widget(form.message) }}
                    </div>
                </div>
			</div>

			<div class="row"><br></div>

			<div class="row" style="">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-lg btn-success right">Save</button>
				</div>
			</div>

		{{ form_rest(form) }}
		</form>
	</div>
</div>