{% extends "RMSRecoveryBundle::layout.html.twig" %}
{% block nav_tabs %}
    {{ _this.nav_tabs('health') }}
{% endblock %}

{% block stylesheets_custom %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/health-team-distribution.css') }}" />
{% endblock stylesheets_custom %}

{% block content %}
<div class="container c-border" id="health-status">


    <div class="row health-status-wrapper">
		<div class="row ph-header-2">
			<div class="col-md-7">
				<a href="{{ path('health_team_distribution') }}" class="title-link">
					<h2 class="title inactive"><img src="{{ asset('bundles/rmsrecovery/images/health-grey.png') }}">{{ 'Medical Team Distribution'|trans }}</h2>
				</a>
				<h2 class="title2 active">Message Board</h2>
			</div>

			<!--<div class="col-md-7 text-right">
				{% if app.user is not null and is_granted('ROLE_NGO') and app.user.ngo.healthNgo and app.user.coordinator %}
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">
						Message Board <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ path('health_team_distribution') }}">Health Team Distribution</a></li>
						<li><a href="{{ path('health_team_manage') }}">Manage Teams</a></li>
					</ul>
				</div>
				<a id="add-health-status" href="{{ path('add_health_status') }}" class="btn btn-success btn-lg">Post Message</a>
				{% endif %}
			</div>-->

			<div class="col-md-5 text-right">
				{% if app.user is not null and is_granted('ROLE_NGO') and app.user.ngo.healthNgo and app.user.coordinator %}
                <a href="{{ path('health_team_manage') }}" class="btn btn-lg btn-warning">Manage Teams</a>
				<a id="add-health-status" href="{{ path('add_health_status') }}" class="btn btn-success btn-lg">Post Message</a>
				{% endif %}
			</div>
		</div>
	</div>
</div>

	<div class="row health-status-wrapper">
	{# todo: is coordinator #}
	{% if app.user is not null and is_granted('ROLE_NGO') and app.user.ngo.healthNgo and app.user.coordinator %}
		<div id="entry-container" style="display:none;">
			{% render(controller("RMSRecoveryBundle:HealthStatus:addHealthStatus")) %}
		</div>
	{% endif %}
	{% if app.user is null %}
			<div class="alert alert-warning">
				You must be logged in and be part of a Health NGO in order to access this information.
				<a href="{{ path('login') }}">Sign in</a>
			</div>
	{% else %}
		{% if is_granted('ROLE_NGO') %}
			{% if not app.user.ngo.healthNgo %}
			<div class="alert alert-warning">
				This section can only be accessed by health organizations authorized by the Department of Health. If you believe you should be authorized, please contact the live chat.
			</div>
			{% else %}
				{% block health_content %}
				{% include "RMSRecoveryBundle:HealthTeam:_provinces.html.twig" %}
				<div id="hdcontent">
					{% include "RMSRecoveryBundle:HealthStatus:statusContent.html.twig" %}
				</div>
				{% endblock %}
			{% endif %}
		{% endif %}
	{% endif %}
	</div>

	<div class="cb spacer"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% include "RMSRecoveryBundle:HealthStatus:_js.html.twig" %}
{% endblock %}
