	<img style="display:none;" class="pull-right hdloader" src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
	{% for row in locations %}
		<h3>{{ row['location'] }}</h3>
		<hr>
		<div class="row ph-header-2">
			<div class="col-md-3 text-right comp-right">
			</div>
			<div class="col-md-9">
				<div class="padding-left">Latest Update</div>
			</div>
		</div>
		{% for message in row['messages'] %}
			<div class="row ph-header-2">
				<div class="col-md-3 text-right comp-right">
					<h4 class="name">{{ message.reporter }}</h4>
					on {{ message.date|date('M jS, H:ia') }}
				</div>
				<div class="col-md-9">
					<div class="popover right description">
						<div class="arrow"></div>
						<div class="popover-content">
							{{ message.message }}
						</div>
					</div>
					<div class="padding-left see-prev"> </div>
				</div>
			</div>
		{% endfor %}
		<div class="row ph-header-2">
			<div class="col-md-3 text-right comp-right">
			</div>
			<div class="col-md-9">
				<div class="popover right">
				</div>
				{#<div class="padding-left see-prev"><a href="#">See Prevoius Updates for {{ row['location'] }}</a></div>#}
			</div>
		</div>
		<hr>
	{% else %}
		{% if filters|length > 0 %}
		<span class="text-muted">No results found.</span>
		{% endif %}
	{% endfor %}