<div class="row">
    <div class="alert alert-success">
        <strong>Success!</strong> Status added successfully.
    </div>
</div>
{% render(controller("RMSRecoveryBundle:HealthStatus:addHealthStatus")) %}
