<div style="margin: 10px; padding: 10px; border: 1px solid #dddddd; border-radius: 4px;">
    <table cellspacing="1" cellpadding="7" width="100%">
        <tr style="background: #f5f5f5;">
            <td width="25%" >Organization</td>
            <td width="30%" >Aid Type</td>
            <td width="" >Description</td>
        </tr>
{% for aidNeeded in aid_arr %}
        <tr>
            <td align="center">
                {% if aidNeeded.reporter.type == 'ngo' and  aidNeeded.reporter.ngo.logo %}
                <img width="60" src="http://proxy.boxresizer.com/convert?resize=100x100&source={{ aidNeeded.reporter.ngo.logo }}"><br>
                {{ aidNeeded.reporter.ngo.name }}
                {% else %}
                <img width="60" src="{{ placeholder }}"><br>Admin
                {% endif %}
            </td>
            <td>
            {% for type in aidNeeded.aidTypes %}
                {{ type.name }}{% if loop.last == false %},&nbsp;{% endif %}
            {% endfor %}
            </td>
            <td>{{ aidNeeded.description }}</td>
        </tr>
{% endfor %}
    </table>                   
</div>