<div style="margin: 10px; padding: 10px; border: 1px solid #dddddd; border-radius: 4px;">
    <table cellspacing="1" cellpadding="7" width="100%">
        <tr style="background: #f5f5f5;">
            <td>Organization</td>
            <td width="15%">Aid Provided</td>
            <td width="5%">Qty.</td>
            <td width="">Description</td>
            <td width="15%">Est. Served</td>
            <td width="15%">Date Given</td>
        </tr>
{% for aid in data %}
        <tr>
            <td align="center">
                <img width="60" src="{% if aid.ngo.logo %}http://proxy.boxresizer.com/convert?resize=100x100&source={{ aid.ngo.logo }}{% else %}{{ placeholder }}{% endif %}"><br>
                {{ aid.ngo.name }}
            </td>
            <td>{{ aid.type.name }}</td>
            <td>{{ aid.quantity }}</td>
            <td>{{ aid.description }}</td>
            <td>{{ aid.peopleCatered }}</td>
            <td>{{ aid.dateStart|date('M. j, Y') }}</td>
        </tr>
{% endfor %}
    </table>
</div>