{% extends "RMSRecoveryBundle::layout.html.twig" %}

{% block stylesheets_custom %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/aid-distribution.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/datepicker/css/datepicker.css') }}" />
{% endblock stylesheets_custom %}

{% block content %}
<div class="row">
    <div class="row ph-header-2">
        <div class="col-md-6">
            <div class="page-header darkgreen">
                <h2>{% block report_title %}{% spaceless %}
                    Reports
                {% endspaceless %}{% endblock report_title %}</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="alert alert-error" style="display: none;">
                <strong></strong>
            </div>
        </div>
        <div class="col-md-7">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td width="250">Global Summary</td>
                        <td>
                            <div class="col-md-4">
                                Date
                            </div>
                            <div class="input-group input-append date col-md-8" id="global_start" data-date="">
                              <input class="span2 form-control" size="16" type="text" value="">
                              <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </td>                        
                        <td>
                            <button class="btn btn-danger pdf-download" data-group="global" data-url="{{ path('report_global') }}">PDF Download</button>
                        </td>
                    </tr>
                    <tr>
                        <td>Organization Summary</td>
                        <td>
                            <div class="col-md-4">
                                Date
                            </div>
                            <div class="input-group input-append date date col-md-8" id="organization_start" data-date="">
                              <input class="span2 form-control" size="16" type="text" value="">
                              <span class="input-group-addon add-on"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-danger pdf-download" data-group="organization" data-url="{{ path('report_organization') }}">PDF Download</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/rmsrecovery/datepicker/js/bootstrap-datepicker.js') }}"></script>
    {% include "RMSRecoveryBundle:Report:_js.html.twig" %}
{% endblock javascripts %}