<!DOCTYPE html>
<html lang="en">
    <body>
    {% block body %}
        <div style="position:relative;">
            <div>
                <h1>                        
                    <img src="{{ logo }}" alt="{{ 'app.name'|trans }}" />                        
                </h1>
            </div>
            <div style="position: absolute; left: 400; top: 0;">
                <small>Report Generated for:</small>
                {% if app.user.ngo.logo %}
                    <img src="http://proxy.boxresizer.com/convert?resize=70x70&source={{ app.user.ngo.logo }}" alt="{{ app.user.ngo }}">
                {% endif %}
                <p>
                    <strong>{{ app.user.title }} {{ app.user.name }} </strong>
                    {{ app.user.ngo }}<br>
                    {{"now"|date()}}
                </p>
             </div>
        </div>
        {% block content %}
            
        {% endblock content %}
    {% endblock body %}
    </body>
</html>
