{% extends "RMSRecoveryBundle:Report:pdf_layout.html.twig" %}

{% block content %}
<style type="text/css">
    div { line-height: 40px; position: relative; }
    .province { color: #006f64;font-size: 20px; margin-bottom:10px;font-weight: bold; }
    table { border-collapse: collapse; border: 1px solid #dddddd; border-radius: 4px; page-break-inside: avoid; font-size: 10px; line-height: 20px; }
    .barangay { border-collapse: collapse; border: 1px solid #dddddd;border-radius: 4px; position: relative; }
    .municipality { border-collapse: collapse; border: 1px solid #dddddd;border-radius: 4px; }
</style>
<!-- AIDS result -->
<div style="color: #669;font-size: 25px;margin-bottom:10px;font-weight: bold;">Aids</div>
<br>

<div>
{% for created,parentGeo in aids %}
    <div style="font-size: 15px;margin-bottom:10px;font-weight: bold;">{{ created }}</div>
    {% for province,geo_province in parentGeo %}
        {% if geo_province.aid is defined %}
            <div>
                <div class="province">{{ province }}</div>            
                {% include 'RMSRecoveryBundle:Report:aids_table.html.twig' with {'data': geo_province.aid} %}
            </div>
        {% else %}
    <div class="province">{{ province }}</div>
        {% endif %}    
        {% for municipality,geo_municipality in geo_province.municipalities %}
    <div class="municipality">
        {% if geo_municipality.aid is defined %}
        <div>
            <div style="background: #5cb85c; font-weight: bold; line-height: 40px;">{{ municipality }}</div>
            {% include 'RMSRecoveryBundle:Report:aids_table.html.twig' with {'data': geo_municipality.aid} %}
        </div>
        {% else %}
        <div style="background: #5cb85c; font-weight: bold; line-height: 40px;">{{ municipality }}</div>
        {% endif %}
        <div>            
            {% for barangay,aid_arr in geo_municipality.barangays %}
            <div class="barangay">
                <div style="margin: 5px; border: 1px solid #dddddd;">
                    <div style="background: #f5f5f5; display: inline-block; width: 150px; padding: 10px;font-weight: bold; line-height: 20px;">{{ barangay }}</div>
                    <div style="background: #428bca; display: inline-block; width: 150px; padding: 10px;font-weight: bold; line-height: 20px;">Pop: {{ aid_arr[0].geo.population }}</div>
                    <div style="background: #428bca; display: inline-block; width: 150px; padding: 10px;font-weight: bold; line-height: 20px;">Est Households: {{ aid_arr[0].geo.estimatedHouseholds }}</div>
                    <div style="background: #428bca; display: inline-block; width: 160px; padding: 10px;font-weight: bold; line-height: 20px;">Aff Households: ~{{ aid_arr[0].geo.affectedHouseholds }}</div>
                    {% include 'RMSRecoveryBundle:Report:aids_table.html.twig' with {'data': aid_arr} %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
        {% endfor %}
    {% endfor %}
{% else %}
    <div style="text-align: center">
        No reports found.
    </div>
{% endfor %}
</div>
<br>
<br>
<!-- AIDS NEEDED result -->
<div style="color: #669;font-size: 25px;margin-bottom:10px;font-weight: bold;">Aids Needed</div>
<br>

<div>
{% for created,parentGeo in aidsNeeded %}
    <div style="font-size: 15px;margin-bottom:10px;font-weight: bold;">{{ created }}</div>
    {% for province,geo_province in parentGeo %}
        {% if geo_province.aid is defined %}
            <div>
                <div class="province">{{ province }}</div>
                {% include 'RMSRecoveryBundle:Report:aids_needed_table.html.twig' with {'data': geo_province.aid} %}
            </div>
        {% else %}
    <div class="province">{{ province }}</div>
        {% endif %}
        {% for municipality,geo_municipality in geo_province.municipalities %}
    <div class="municipality">
        {% if geo_municipality.aid is defined %}
        <div>
            <div style="background: #5cb85c; font-weight: bold; line-height: 40px;">{{ municipality }}</div>
            {% include 'RMSRecoveryBundle:Report:aids_needed_table.html.twig' with {'data': geo_municipality.aid} %}
        </div>
        {% else %}
        <div style="background: #5cb85c; font-weight: bold; line-height: 40px;">{{ municipality }}</div>
        {% endif %}
        <div>
            {% for barangay,aid_arr in geo_municipality.barangays %}
            <div class="barangay">
                <div style="margin: 5px; border: 1px solid #dddddd;">
                    <div style="background: #f5f5f5; display: inline-block; width: 150px; padding: 10px;font-weight: bold; line-height: 20px;">{{ barangay }}</div>
                    <div style="background: #428bca; display: inline-block; width: 150px; padding: 10px;font-weight: bold; line-height: 20px;">Pop: {{ aid_arr[0].geo.population }}</div>
                    <div style="background: #428bca; display: inline-block; width: 150px; padding: 10px;font-weight: bold; line-height: 20px;">Est Households: {{ aid_arr[0].geo.estimatedHouseholds }}</div>
                    <div style="background: #428bca; display: inline-block; width: 160px; padding: 10px;font-weight: bold; line-height: 20px;">Aff Households: ~{{ aid_arr[0].geo.affectedHouseholds }}</div>
                    <div style="clear: both;"></div>
                    {% include 'RMSRecoveryBundle:Report:aids_needed_table.html.twig' with {'data': aid_arr} %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
        {% endfor %}
    {% endfor %}
{% else %}
    <div style="text-align: center">
        No reports found.
    </div>
{% endfor %}

</div>
{% endblock content %}