<!--live chat-->
<a href="#" onclick="lpButtonCTTUrl = 'http://server.iad.liveperson.net/hc/40750528/?cmd=file&amp;file=visitorWantsToChat&amp;site=40750528&amp;SESSIONVAR!skill=phrecovery&amp;imageUrl=http://images.liveperson.com/lp/40750528&amp;referrer='+escape(document.location); lpButtonCTTUrl = (typeof(lpAppendVisitorCookies) != 'undefined' ? lpAppendVisitorCookies(lpButtonCTTUrl) : lpButtonCTTUrl); lpButtonCTTUrl = ((typeof(lpMTag)!='undefined' &amp;&amp; typeof(lpMTag.addFirstPartyCookies)!='undefined')?lpMTag.addFirstPartyCookies(lpButtonCTTUrl):lpButtonCTTUrl);window.open(lpButtonCTTUrl,'chat40750528','width=505,height=400,resizable=yes');return false;" target="chat40750528">
    <img src="{{ asset('bundles/rmsrecovery/images/chat_button.png') }}" alt="{{ 'click here for live chat'|trans }}">
</a>
