{% if app.session.flashbag.has('error') %}
<div class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Error</strong>
    {{ app.session.flashbag.get('error')|join('<br>') }}
</div>
{% endif %}

{% if app.session.flashbag.has('notice') %}
<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Notice</strong>
    {{ app.session.flashbag.get('notice')|join('<br>') }}
</div>
{% endif %}

{% if app.session.flashbag.has('warning') %}
<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Warning</strong>
    {{ app.session.flashbag.get('warning')|join('<br>') }}
</div>
{% endif %}

{% if app.session.flashbag.has('info') %}
<div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Info</strong>
    {{ app.session.flashbag.get('info')|join('<br>') }}
</div>
{% endif %}

{% if app.session.flashbag.has('success') %}
<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Success</strong>
    {{ app.session.flashbag.get('success')|join('<br>') }}
</div>
{% endif %}
