{% import _self as _this %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title>{{ 'app.name'|trans }}</title>

    {% block stylesheets %}
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/rmsrecovery/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/rmsrecovery/css/bootstrap-theme.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/rmsrecovery/css/layout.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/rmsrecovery/css/custom-responsive.css') }}" rel="stylesheet">
    {% endblock %}

    {% block stylesheets_custom %}
    <!-- Custom styles for this template -->
    <!-- FullCalendar -->
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/fullcalendar/fullcalendar.css') }}" />
    {% endblock stylesheets_custom %}

    <link rel="icon" type="image/png" href="{{ asset('bundles/rmsrecovery/images/favicon.png') }}">
</head>
<body>
{% block body %}
    <div class="container ph-container" id="container">
        <div id="header">

            <nav class="navbar navbar-default" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ph-recovery-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-logo" href="{{ path('homepage') }}" title="{{ 'app.name'|trans }}">
                        <img src="{{ asset('bundles/rmsrecovery/images/logo_small.png') }}" alt="{{ 'app.name'|trans }}">
                    </a>
                </div>
            </nav>

            <div class="row ph-header">
                <div class="col-md-4">
                    <h1>
                        <a href="{{ path('homepage') }}" title="{{ 'app.name'|trans }}">
                            <img src="{{ asset('bundles/rmsrecovery/images/logo_small.png') }}" alt="{{ 'app.name'|trans }}">
                        </a>
                    </h1>
                </div>

                {% if is_granted('ROLE_NGO') %}
                <div class="col-md-4 col-md-offset-4 header-user">
                    <div class="row">
                        <div class="col-md-12">
                            <small><span class="glyphicon glyphicon-user"></span>
                                Logged in as:</small>
                        </div>
                    </div>
                    <div class="row" style="margin: 5px 0;">
                        {% if app.user.ngo is not null and app.user.ngo.logo %}
                        <div class="col-md-2" style="padding-left:0;">
                            <img src="{{app.user.ngo.logo}}" style="min-width: 50px;width:100%;" alt="{{ app.user.ngo }}">
                        </div>
                        {% endif %}
                        <div class="col-md-10" style="padding-left: 10px;">
                            <strong>{{ app.user.name }} (<a href="{{ path('logout') }}" title="Logout">Logout</a>)</strong>
                            <br>{{ app.user.ngo }}
                        </div>
                    </div>
                    <div class="row">
                        {% if app.user.verified %}
                        {% include "RMSRecoveryBundle::_livechat.html.twig" %}
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="col-md-4 col-md-offset-4 header-user">
                    <br />
                    <a href="{{ path('login') }}" title="Sign In"  class="btn btn-primary">Sign In</a>
                    <a href="{{ path('register') }}" title="Register" class="btn btn-success">Register</a>
                </div>
                {% endif %}
            </div>

            <div class="row menu-container">
                {% block nav_tabs %}
                    {{ _this.nav_tabs() }}
                {% endblock %}
            </div>
        </div>

        {% include "RMSRecoveryBundle::_notifications.html.twig" %}

        <div id="body">
        {% block content %}

        {% endblock content %}
        </div>
    </div>
    <!-- /container -->


    <div class="container-fluid" id="footer-container">
        <div class="container">
            <div id="footer" class="row">
                Developed by <a target=_blank href="http://www.arcanys.com">Arcanys</a><br>
                <a href="http://www.softlayer.com/">
                    <img src="{{ asset('bundles/rmsrecovery/images/softlayer.png') }}" alt="Softlayer">
                </a>
            </div>
        </div>
    </div>

    {% block javascripts %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/rmsrecovery/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/rmsrecovery/js/bootstrap.min.js') }}"></script>
    {% endblock %}

{% endblock body %}
{% block analytics %}
    <!-- BEGIN LivePerson Monitor. --><script language='javascript'> var lpMTagConfig = {'lpServer' : "server.iad.liveperson.net",'lpNumber' : "40750528",'lpProtocol' : (document.location.toString().indexOf('https:')==0) ? 'https' : 'http'}; function lpAddMonitorTag(src){if(typeof(src)=='undefined'||typeof(src)=='object'){src=lpMTagConfig.lpMTagSrc?lpMTagConfig.lpMTagSrc:'/hcp/html/mTag.js';}if(src.indexOf('http')!=0){src=lpMTagConfig.lpProtocol+"://"+lpMTagConfig.lpServer+src+'?site='+lpMTagConfig.lpNumber;}else{if(src.indexOf('site=')<0){if(src.indexOf('?')<0)src=src+'?';else src=src+'&';src=src+'site='+lpMTagConfig.lpNumber;}};var s=document.createElement('script');s.setAttribute('type','text/javascript');s.setAttribute('charset','iso-8859-1');s.setAttribute('src',src);document.getElementsByTagName('head').item(0).appendChild(s);} if (window.attachEvent) window.attachEvent('onload',lpAddMonitorTag); else window.addEventListener("load",lpAddMonitorTag,false);</script><!-- END LivePerson Monitor. -->
{% endblock analytics %}
</body>
</html>

{% macro nav_tabs(active) %}
{% if active is null or not active %}
{% set active = 'aid' %}
{% endif %}
<div class="ph-recovery-menu">
    <ul class="nav nav-tabs">
        {% if is_granted('ROLE_NGO') %}
        <li class="user-btn mobile-btn">
            <div class="row user-wrapper">
                <div class="col-xs-6">
                    {% if app.user.verified %}
                        {% include "RMSRecoveryBundle::_livechat.html.twig" %}
                    {% endif %}
                </div>
                <div class="col-xs-6" style="margin-top: 5px;">
                    {% if app.user.ngo is not null and app.user.ngo.logo %}
                        <img src="{{app.user.ngo.logo}}" style="min-width: 50px;width:100%;" alt="{{ app.user.ngo }}">
                    {% endif %}
                    <strong>{{ app.user.name }} (<a href="{{ path('logout') }}" title="Logout">Logout</a>)</strong>
                </div>
            </div>
        </li>
        {% else %}
        <li class="login-btn mobile-btn"><a href="{{ path('login') }}" title="Sign In">Sign In</a></li>
        {% endif %}
        <li {% if active == 'volunteering' %}class="active"{% endif %}><a href="{{ path('volunteering') }}">Volunteering</a></li>
        <li {% if active == 'helpcenter' %}class="active"{% endif %}><a href="{{ path('helpcenter') }}">NGO Resource Center</a></li>
        <li {% if active == 'aid' %}class="active"{% endif %}><a href="{{ path('aid_distribution') }}">Aid Distribution</a></li>
        <li {% if active == 'health' %}class="active"{% endif %}><a href="{{ path('health_team_distribution') }}">Health</a></li>
        <li class="{% if active == 'registration' %}active{% endif %} register-btn mobile-btn"><a href="{{ path('register') }}" title="Register">Register</a></li>
    </ul>
</div>
{% endmacro %}
