{% extends "RMSRecoveryBundle::layout.html.twig" %}


{% block nav_tabs %}
    {{ _this.nav_tabs('registration') }}
{% endblock %}

{% block content %}
<h1>Registration confirmation</h1>

<br>
<div class="alert alert-success">
   
Thanks for joining our efforts!  
You can now freely access the <a href="{{ path('helpcenter') }}">NGO Resource Center</a>.
<br>
<br>

If you would like to update yourself the Aid Distribution section, we need to verify your organization before allowing you to post updates in the system. Please contact our 24/7 call center to verify your identity : 032 239 57 94 / +63 32 239 57 94, or via Live Chat. 
</div>

<div class="text-center">
    {% include "RMSRecoveryBundle::_livechat.html.twig" %}
</div>

{% endblock %}
