{% extends "RMSRecoveryBundle::layout.html.twig" %}
{% form_theme form _self %}

{% block nav_tabs %}
    {{ _this.nav_tabs('registration') }}
{% endblock %}

{% block content %}
<h1>Organization Registration</h1>

<div class="row registraion-wrapper">
<form action="{{ path('register') }}" method="POST">
    <div class="row registration-container">
        <div class="col-md-12">
            <div class="alert alert-warning">
                {{ 'ngo.registration.attention'|trans|raw }}
            </div>
            <div class="pull-right" style="margin:-10px 0 10px 0;">
                {% include "RMSRecoveryBundle::_livechat.html.twig" %}
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-offset-1 col-sm-4">
                        <div class="page-header">
                            <h3>User info</h3>
                        </div>
                        {{ form_widget(form.user) }}
                    </div>
                    <div class="col-md-6">
                        <div class="page-header">
                            <h3>NGO / Private Relief Group / Company Info</h3>
                        </div>
                        {{ form_widget(form.ngo) }}
                    </div>
                </div><!-- /.row -->
                <div class="row">
                    <hr>
                    <div class="col-md-11">
                        <button type="submit" class="pull-right btn btn-success btn-lg">Register</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(form) }}
</form>
</div>
{% render(controller("RMSRecoveryBundle:NgoList:list", {partial: true})) %}
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
jQuery(function($) {
    $(document).on("submit", "#ngo-list form", function() {
        var $this = $(this), action = $this.attr("action");
        var list = $("#ngo-list");
        var h = list.height();
        $.post(action+"?r="+Math.random(), $this.serialize(), function(data) {
            list.replaceWith(data);
            list = $("#ngo-list").css("height", h+"px");
            $("input:first", list).focus();
        });
        return false;
    });
    $(document).on("change", ".edit-ngotype", function() {
        var val = $(this).val(), cgs = $("#cg-rms_recoverybundle_user_ngo_skills");
        if (val == "health") {
            cgs.show();
        } else {
            cgs.hide();
        }
    });
    $(".edit-ngotype").trigger("change");
});
</script>
{% endblock %}

{% block form_row %}
{% spaceless %}
    <div id="cg-{{ id }}" class="control-group {% if errors|length > 0 %}has-error{% endif %}">
        {{ form_label(form) }}
        <div class="controls">
            {{ form_widget(form) }}
            <span class="help-block">
                {{ form_errors(form) }}
            </span>
        </div>
    </div>
{% endspaceless %}
{% endblock form_row  %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
#rms_recoverybundle_user_ngo_skills label {
    margin-right: 5px;
    min-width: 80px;
    font-weight: normal;
}
#cg-rms_recoverybundle_user_ngo_skills {
    display: none;
}
</style>
{% endblock %}

{% use 'form_div_layout.html.twig' with form_label as base_form_label, 
    checkbox_widget as base_checkbox_widget %}
{% block form_label %}
    {% if id[:-1] != 'rms_recoverybundle_user_ngo_skills_' %}
        {{ block('base_form_label') }}
        {% if required %}
            <span class="required" title="This field is required"> *</span>
        {% else %}
            <span class="optional" title="This field is optional"> (Optional)</span>
        {% endif %}
    {% endif %}
{% endblock %}

{% block checkbox_widget %}
<label>
    {{ block('base_checkbox_widget') }}
    {{ label }}
</label>
{% endblock checkbox_widget %}
