<script type="text/javascript">
jQuery(function($) {
    var xhr = {};
    function loadtip() {
        $('span.barangay-tip').tooltip({
            'placement' : 'right',
            'html': true
        });
    }
    loadtip();
    
    $(document).on("change", ".toggle-province", function() {
        var $this=$(this), id=$this.val();
        var prov = $("#province-main"), current = prov.data("province");
        if (current != id) {
            $(".province-main-content", prov).hide();
            $(".province-loader", prov).show();
        }
        var xp = "province";
        if(xhr[xp] && xhr[xp].readyState != 4){
            xhr[xp].abort();
        }
        xhr[xp] = $.post("{{ path('toggle_province') }}"+"?r="+Math.random(), {id:id,toggle:1}, function(data) {
            prov.replaceWith(data);
            loadtip();
        });
    });
    
    $(document).on("change", ".toggle-municipality", function() {
        var $this=$(this), id=$this.val(), toggle=this.checked?1:0;
        var muni = $("#municipality-"+id).show();
        if (!toggle) muni.hide();
        var xp = "municipality"+id;
        if(xhr[xp] && xhr[xp].readyState != 4){
            xhr[xp].abort();
        }
        xhr[xp] = $.post("{{ path('toggle_municipality') }}"+"?r="+Math.random(), {id:id,toggle:toggle}, function(data) {
            if (toggle) muni.replaceWith(data).show();
            loadtip();
        });
    });
    
    $(document).on("change", ".toggle-barangay", function() {
        var $this=$(this), id=$this.val(), toggle=this.checked?1:0;
        var bara = $("#barangay-"+id).show();
        if (!toggle) bara.hide();
        var xp = "barangay"+id;
        if(xhr[xp] && xhr[xp].readyState != 4){
            xhr[xp].abort();
        }
        xhr[xp] = $.post("{{ path('toggle_barangay') }}"+"?r="+Math.random(), {id:id,toggle:toggle}, function(data) {
            if (toggle) bara.replaceWith(data).show();
            loadtip();
        });
    });
    
    $(document).on("click", ".municipality-modal", function(e) {
        e.stopPropagation();
        var $this = $(this), id = $this.data("municipality");
        $.post("{{ path('load_summary') }}/"+id+"?r="+Math.random(), function(data) {
            $(".modal-body", "#municipality-modal-"+id).replaceWith(data);
        });
        return false;
    });
});
</script>
