<div class="panel panel-default load" id="barangay-{{ barangay.id }}" style="display:none;">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="load-barangay" 
               data-toggle="collapse" 
               data-barangay="{{ barangay.id }}" 
               data-municipality="{{ barangay.municipality.id }}" 
               data-parent="#municipality-{{ barangay.municipality.id }}" 
               href="#collapse-barangay-{{ barangay.id }}">
                {{ barangay }}
            </a>
            <img src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
        </h4>
    </div>
</div>
