<div class="panel panel-default load" id="municipality-{{ municipality.id }}" style="display:none;">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="load-municipality" 
               data-toggle="collapse" 
               data-municipality="{{ municipality.id }}" 
               data-province="{{ municipality.province.id }}" 
               data-parent="#province-{{ municipality.province.id }}" 
               href="#collapse-municipality-{{ municipality.id }}">
                <strong><i class="glyphicon glyphicon-collapse-up"></i> {{ municipality }}</strong>
            </a>
            <img src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
        </h4>
    </div>
</div>
