<div class="table-responsive">
<table class="table table-striped table-bordered">
    <tbody><tr>
            <th width="15%">Organization</th>
            <th width="15%">Area</th>
            <th width="5%">Qty.</th>
            <th width="15%">Aid Provided</th>
            <th width="30%">Description</th>
            <th width="10%">Est. People Served</th>
            <th width="20%">Date Given</th>
            <th width="15%">Est. Supply Exhaustion</th>
        </tr>
        {% set ngo = 0 %}
        {% for aid in municipality.aids %}
        <tr>
            <td>
                <div class="row" {% if ngo == aid.ngo.id %}style="display:none;"{% endif %}>
                    <div class="col-md-4" style="margin-bottom:10px;">
                        {% if aid.ngo.logo %}
                        <img width="50" src="{{ aid.ngo.logo }}" alt="{{ aid.ngo }}" title="{{ aid.ngo }}">
                        {% endif %}
                    </div>
                    <div class="col-sm-7">
                        <strong title="{{ aid.ngo }}">{{ aid.ngo }}</strong>
                    </div>
                </div>
                {% set ngo = aid.ngo.id %}
            </td>
            <td>{{ aid.geo }}</td>
            <td>{{ aid.quantity|number_format }}</td>
            <td>{{ aid.type }}</td>
            <td>{{ aid.description }}</td>
            <td>{% if aid.peopleCatered %}{{ aid.peopleCatered|number_format }}{% endif %}</td>
            <td>{{ aid.dateStart|date('M j, Y') }}</td>
            <td>{% if aid.dateEnd %}{{ aid.dateEnd|date('M j, Y') }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
