<!-- Modal -->
<div class="modal fade" id="municipality-modal-{{ municipality.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-label-left">
                    <h4 class="modal-title" id="myModalLabel">Municipal Summary</h4>
                </div>
                <div class="modal-label-right">
                    <h4 class="modal-title" id="myModalLabel">{{ municipality }}</h4>
                </div>
                <button data-dismiss="modal" aria-hidden="true" class="btn btn-primary btn-sm btn-modal-close">
                    <span class="glyphicon glyphicon-remove"></span>
                    Close
                </button>
            </div>
            <div class="modal-head-separator">
                <div class="row">
                    <div class="col-xs-2">
                        &nbsp;&nbsp;
                        Population: {% if municipality.population %}{{ municipality.population|number_format }}{% endif %}
                    </div>
                    <div class="col-xs-3">
                        Est. Households: {% if municipality.estimatedHouseholds %}{{ municipality.estimatedHouseholds|number_format }}{% endif %}
                    </div>
                    <div class="col-xs-3">
                        Affected Households: ~{% if municipality.affectedHouseholds %}
                            {{ municipality.affectedHouseholds|number_format }}{% endif %}
                    </div>
                    <div class="col-xs-3">
                        Aid Organizations Active: {{ municipality.activeNgos|length|number_format }}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <img src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
