<div class="row ph-header-2">
    <hr>
    <div class="province-loader" style="display:none;">
        <div class="col-xs-12">
            <span class="label activity-label">
            <img src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
            </span>
        </div>
    </div>
    {% if province is defined and province is not null %}
    <div class="province-main-content">
        <div class="col-xs-12">
            <span><span class="label label-danger activity-label">&nbsp;</span> Areas with Aid Activity </span>
            {#<span><a href="#"> Show areas with Aid Activity Only</a></span> | 
            <span><a href="#"> Show All</a></span>#}
        </div>

    <!-- Municipalities -->
        <div class="" data-toggle="buttons">
            <ul class="clean arealist">
                {% for municipality in province.municipalities %}
                <li id="toggle-municipality-{{ municipality.id }}" class="toggle-province-municipality toggle-province-{{ municipality.province.id }}">
                    <label class="btn btn-xs btn-default {% if municipality.id in checked_municipalities %}active{% endif %}">
                        {% if aidmanager.hasActivities(municipality) %}
                        <span class="label activity-label label-danger">&nbsp;</span>
                        {% endif %}
                        <input type="checkbox" class="toggle-municipality" data-province="{{ municipality.province.id }}" value="{{ municipality.id }}" {% if municipality.id in checked_municipalities %}checked="checked"{% endif %}> {{ municipality[:30] }}
                    </label>
                </li>
                {% endfor %}
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>
    <br>
    {% endif %}
</div>
<!-- End Municipalities -->
