<!-- Provinces -->
<div class="row aid-distribution-wrapper">
    <div class="toggle-provinces" data-toggle="buttons">
    {% for province in provinces %}
        <label class="btn btn-default {% if province.id in checked_provinces %}active{% endif %}">
            <a href="{{ path('aid_distribution', {provinceId:province.id}) }}">{{ province[:30] }}</a>
            <input type="radio" class="toggle-province" value="{{ province.id }}" {% if province.id in checked_provinces %}checked="checked"{% endif %}>
        </label>
    {% endfor %}
    </div>
</div>
<!-- End Provinces -->
