{% if municipality.barangays|length > 0 %}
<header class="cls">
    {#<span><a href="#" title="">select all</a><a href="#" title="">clear all</a></span>#}
</header>
{% endif %}

<!-- Barangays -->
<div class="" data-toggle="buttons">
    <ul class="clean arealist">
    {% for barangay in municipality.barangays %}
        <li>
        <label class="btn btn-xs btn-default {% if barangay.id in checked_barangays %}active{% endif %}">
            {% if aidmanager.hasActivities(barangay) %}
            <span class="label activity-label label-danger">&nbsp;</span>
            {% endif %}
            <input type="checkbox" class="toggle-barangay" data-municipality="{{ barangay.municipality.id }}" value="{{ barangay.id }}" {% if barangay.id in checked_barangays %}checked="checked"{% endif %}> {{ barangay[:30] }}
        </label>
        </li>
    {% endfor %}
    </ul>
    <div class="clearfix"></div>
    <br>
</div>
<!-- End Barangays -->
