<div class="panel panel-default accordion-brgy" id="barangay-{{ barangay.id }}">
    <div class="panel-heading" style="padding-top: 0; padding-right: 0;">
        <h4 class="panel-title" style="height: 27px;">
            <a data-toggle="collapse" data-parent="#municipality-{{ barangay.municipality.id }}" href="{{ path('aid_distribution_barangay', {id:barangay.id}) }}#collapse-barangay-{{ barangay.id }}">
                <div class="panel-collapse">
                    <div class="panel-collapse-header" style="width: 16.666666666666664%;float:left;padding-top:9px;"><strong>{{ barangay }}</strong></div>
                    <div class="big-blue-bar">
                        <span {# class="barangay-tip" title="{% if barangay.lastReport %}{{
                        'Last reported by @reporter<br/>on @date'|trans({
                        '@reporter': barangay.lastReport.ngo, '@date': barangay.lastReport.dateUpdated|date('j M g:ia')
                        }) }}{% endif %}" #}>
                            Pop: {{ barangay.population|number_format }} &nbsp;&nbsp;&nbsp;&nbsp;
                            Est Households: {{ barangay.estimatedHouseholds|number_format }}  &nbsp;&nbsp;&nbsp;&nbsp;
                            Affected Households: ~{{ barangay.affectedHouseholds|number_format }}
                        </span>
                    </div>
                    &nbsp;
                </div>
            </a>
        </h4>
    </div>
    <div id="collapse-barangay-{{ barangay.id }}" class="panel-collapse collapse {% if collapse_barangay is defined or loop.first %}in{% endif %}">
        <div class="panel-body">
            <div class="row">{#
                <div class="col-md-2 ph-table-img" style="padding-top:85px;">
                    {% for ngo in barangay.activeNgos %}
                        <div class="row" style="margin-bottom:10px;">
                            <div class="col-md-4">
                                {% if ngo.logo %}
                                <img width="50" src="{{ ngo.logo }}" alt="{{ ngo }}" title="{{ ngo }}">
                                {% endif %}
                            </div>
                            <div class="col-sm-7">
                                <strong title="{{ ngo }}">{{ ngo }}</strong>
                            </div>
                        </div>
                    {% endfor %}
                </div>#}
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered aiddistngo">
                            <tr>
                                <th width="17%" class="ngo"></th>
                                <th width="20%">Aid Provided</th>
                                <th width="">Qty.</th>
                                <th width="30%">Description</th>
                                <th width="5%">Est. People Served</th>
                                <th width="10%">Date Given</th>
                                <th width="10%">Est. Supply Exhaustion</th>
                            </tr>
                            {% set ngoid = 0 %}
                            {% for aid in barangay.aids %}
                                <tr>
                                    <td class="ngo">
                                        {% if ngoid != aid.ngo.id %}
                                        <div class="row">
                                            <div class="col-sm-4">
                                                {% if aid.ngo.logo %}
                                                <img width="50" src="{{ aid.ngo.logo }}" alt="{{ aid.ngo }}" title="{{ aid.ngo }}">
                                                {% endif %}
                                            </div>
                                            <div class="col-sm-8">
                                                {{ aid.ngo }}
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% set ngoid = aid.ngo.id %}
                                    </td>
                                    <td>{{ aid.type }}</td>
                                    <td>{% if aid.quantity > 0 %}{{ aid.quantity|number_format }}{% endif %}</td>
                                    <td>{{ aid.description }}</td>
                                    <td>{% if aid.peopleCatered > 0 %}{{ aid.peopleCatered|number_format }}{% endif %}</td>
                                    <td>{{ aid.dateStart|date('M j, Y') }}</td>
                                    <td>{% if aid.dateEnd %}{{ aid.dateEnd|date('M j, Y') }}{% endif %}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    {% render(controller("RMSRecoveryBundle:Messageboard:index", {id:barangay.id})) %}

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    {% if barangay.situations|length > 0 %}
                    <span class="status-label">Status:</span>
                    <div class="status-stream">
                        <ul>
                            {% for status in barangay.situations %}
                            <li> {# TODO: reporter format -> (ngo) reporter name #}
                                <span class="title">{{ '@reporter on @date'|trans({'@reporter':status.reporter, '@date':status.date|date('j M g:ia')}) }}</span>
                                <p>{% if loop.first %}
                                <strong>{{ status }}</strong>
                                {% else %}
                                {{ status }}
                                {% endif %}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        {#<a href="#">show all</a>#}
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-6">
                    {% if barangay.aidsNeeded|length > 0 %}
                    <span class="status-label">Aid Needed:</span>
                    <div class="status-stream">
                        <ul>
                            {% for need in barangay.aidsNeeded %}
                            <li>
                                <span class="title">{{ '@reporter - @date'|trans({'@reporter':need.reporter, '@date':need.date|date('j M g:ia')}) }}</span>
                                <p>{% if loop.first %}
                                <strong>{{ need }}</strong>
                                {% else %}
                                {{ need }}
                                {% endif %}</p>
                            </li>
                            {% endfor %}
                        </ul>
                        {#<a href="#">show all</a>#}
                    </div>
                    {% endif %}
                </div>
            </div>
                
        </div>
        
    </div>
</div>
<!-- End Barangay {{ barangay.id }} -->
