{% extends "RMSRecoveryBundle:AidDistribution:index.html.twig" %}

{% block aid_title %}
Aid Distribution - Barangay {{ barangay }} 
{% endblock %}

{% block aid_content %}
{% include "RMSRecoveryBundle:AidDistribution:barangayContent.html.twig" %}
{% endblock %}
