{% extends "RMSRecoveryBundle::layout.html.twig" %}

{% block stylesheets_custom %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/aid-distribution.css') }}" />
    {% if is_granted('ROLE_NGO') and app.user.verified %}
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/frontend-aid_distribution.css') }}" />
        <link href="{{ asset('bundles/rmsrecovery/datepicker/css/datepicker.css') }}" rel="stylesheet">
    {% endif %}
{% endblock stylesheets_custom %}

{% block content %}
    <div class="row aid-distribution-wrapper">
        <div class="row ph-header-2">
            <div class="col-md-6">
                <div class="page-header darkgreen">
                    <h2>{% block aid_title %}{% spaceless %}
                            Aid Distribution Overview
                        {% endspaceless %}{% endblock aid_title %}</h2>
                </div>
            </div>
            {% if is_granted('ROLE_NGO') %}
                <div class="col-md-5 col-md-offset-1">
                    {% if app.user.verified %}
                        <a href="{{ path('aid_history') }}" class="btn btn-lg btn-warning">Edit Previous Entries</a>
                        <a href="{#{ path('aid_entry') }#}" id="add-entry" class="btn btn-success btn-lg ph-btn-lg pull-right">{{ 'Show Entry Form'|trans }}</a>
                    {% else %}
                        <div class="alert alert-warning">
                            {{ 'ngo.not_verified_message'|trans|raw }}
                        </div>
                        <div class="pull-right" style="margin:-10px 0 10px 0;">
                            {% include "RMSRecoveryBundle::_livechat.html.twig" %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_NGO') and app.user.verified %}
        <div id="entry-container" style="display:none;">
            {% render(controller("RMSRecoveryBundle:AidEntry:addEntry")) %}
        </div>
    {% endif %}

    {% block aid_content %}
        {% include "RMSRecoveryBundle:AidDistribution:_toggleProvinces.html.twig" %}
        {% include "RMSRecoveryBundle:AidDistribution:provinceDistribution.html.twig" %}
    {% endblock aid_content %}

{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    {% include "RMSRecoveryBundle:AidDistribution:_js.html.twig" %}
    {% if is_granted('ROLE_NGO') and app.user.verified %}
        {% include "RMSRecoveryBundle:AidEntry:_js.html.twig" %}
        {% include "RMSRecoveryBundle:Messageboard:_js.html.twig" %}
        <script type="text/javascript">
            jQuery(function($) {
                function loadpicker() {
                    try {
                        $('#entry-container .datepicker').datepicker({format: 'dd/mm/yyyy'})
                                .on('changeDate', function(ev){
                                    $('.datepicker').datepicker('hide');
                                });
                    } catch(error) {
                    }
                }
                loadpicker();

                $(document).on("submit", "#add-entry-form", function() {
                    var $this = $(this), action = $this.attr("action");
                    $(".alert-success", "#entry-container").remove();
                    $(".new-entry-loader").show();
                    $.post(action+"?r="+Math.random(), $this.serialize(), function(data) {
                        $("#entry-container").html(data);
                        loadpicker();
                    });
                    return false;
                });
            });
        </script>
    {% endif %}
{% endblock %}