{% extends "RMSRecoveryBundle:AidDistribution:index.html.twig" %}

{% block aid_title %}
Aid Distribution - {{ municipality }} Municipality
{% endblock %}

{% block aid_content %}
{% include "RMSRecoveryBundle:AidDistribution:municipalityContent.html.twig" %}
{% endblock %}
