<div class="panel panel-default" id="municipality-{{ municipality.id }}">
    <div class="panel-heading" style="padding-top: 0; padding-right: 0;">
        <h4 class="panel-title" style="height: 27px;">
            <a data-toggle="collapse" data-parent="#province-{{ municipality.province.id }}" href="{{ path('aid_distribution_municipality', {id:municipality.id}) }}#collapse-municipality-{{ municipality.id }}">
                <div class="panel-collapse">
                    <div class="panel-collapse-header" style="width: 29.666667%;float: left;">
                        <div style="margin-top: 7px;float:left;">
                            <strong><i class="glyphicon glyphicon-collapse-down"></i> {{ municipality }}</strong>
                        </div>
                        <div style="float:right;margin-top: 6px;margin-right: 10px;">
                            <button data-toggle="modal" data-municipality="{{ municipality.id }}" data-target="#municipality-modal-{{ municipality.id }}" type="button" class="btn btn-primary btn-sm for-modal municipality-modal" style="padding: 3px 10px;">
                                {% if aidmanager.hasActivities(municipality) %}
                                <span class="label label-danger activity-label">&nbsp;</span>
                                {% else %}
                                <span class="label munic-summary">&nbsp;</span>
                                {% endif %}
                                Munic. Summary
                            </button>
                        </div>
                    </div>
                    <div class="big-green-bar">
                        <span>
                            Pop: {{ municipality.population|number_format }} &nbsp;&nbsp;&nbsp;&nbsp;
                            Est Households: {{ municipality.estimatedHouseholds|number_format }}  &nbsp;&nbsp;&nbsp;&nbsp;
                            Affected Households: ~{{ municipality.affectedHouseholds|number_format }}
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </h4>
    </div>
    <div id="collapse-municipality-{{ municipality.id }}" class="panel-collapse collapse in municipality-accordion">
        <div class="panel-body">
            {% include "RMSRecoveryBundle:AidDistribution:_toggleBarangays.html.twig" %}
            <div class="panel-group">
                <div class="col-xs-12" id="municipality2-{{ municipality.id }}">
                {% for barangay in municipality.barangays %}
                    {% if barangay.id in checked_barangays %}
                        {% include "RMSRecoveryBundle:AidDistribution:barangayContent.html.twig" %}
                    {% else %}
                        {% include "RMSRecoveryBundle:AidDistribution:_loadBarangay.html.twig" %}
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include "RMSRecoveryBundle:AidDistribution:_summary.html.twig" %}
<!-- End Municipality {{ municipality.id }} -->
