<div id="province-main" data-province="{% if province is defined and province is not null %}{{ province.id }}{% endif %}">
    {% include "RMSRecoveryBundle:AidDistribution:_toggleMunicipalities.html.twig" %}
    {% if province is defined and province is not null %}
    <div class="row ph-tab province-main-content">
        {% include "RMSRecoveryBundle:AidDistribution:provinceContent.html.twig" %}
    </div>
    {% endif %}
</div>
