<div class="panel-group province-accordion" id="province-{{ province.id }}">
{% for municipality in province.municipalities %}
    {% if municipality.id in checked_municipalities %}
        {% include "RMSRecoveryBundle:AidDistribution:municipalityContent.html.twig" %}
    {% else %}
        {% include "RMSRecoveryBundle:AidDistribution:_loadMunicipality.html.twig" %}
    {% endif %}
{% endfor %}
</div>
<!-- End province {{ province.id }}-->
