{% if toggle %}
    {% include "RMSRecoveryBundle:AidDistribution:municipalityContent.html.twig" %}
{% else %}
    {% include "RMSRecoveryBundle:AidDistribution:_loadMunicipality.html.twig" %}
{% endif %}
