<script type="text/javascript">
jQuery(function($) {
    var loader = $('#filter_loader');
    var results = $('#help_center_results');
    var div = $('body');
    
    var _old_toggle = $.fn.button.prototype.constructor.Constructor.prototype.toggle;

    $.fn.button.prototype.constructor.Constructor.prototype.toggle = function () {
        _old_toggle.apply(this);
        this.$element.trigger('toggle-change');
    }
    
    var filter_radio_hack = function(ele) {        
        var class_name = ele.attr('class').split(' ')[0];
        var all = $('.'+class_name+'.all');
        var all_active = $('.'+class_name+'.all.active');
        var doms = $('.'+class_name);
        var dom_active = $('.'+class_name+'.active');
        
        if ( !ele.hasClass('all') && ele.hasClass('active') && all_active.length )
        {
            all_active.removeClass('active');
        }
        else if ( ele.hasClass('all') )
        {
            doms.removeClass('active');            
            ele.addClass('active');
        } 
        else if ( !ele.hasClass('all') && !ele.hasClass('active') && !all_active.length && !dom_active.length )
        {
            all.addClass('active');
        }
        return true;
    };
    
    var filterEvent = function(e, pagination) {
        if ( typeof pagination === 'undefined' )
        {
            pagination = 0;
            filter_radio_hack($(this));
        }
        
        var pdata = [];
        var rdata = [];
        
        $('.province_filter.active').each(function(){
            pdata.push( $(this).data('id') ); 
        });

        $('.resource_filter.active').each(function(){
            rdata.push( $(this).data('id') );
        });
        var data = { 'provinces': pdata, 'resources': rdata, 'page': pagination };

        results.fadeOut('fast', function() {
            loader.fadeIn('fast', function(){
                $.ajax({
                    url: '{{ path('filter_posts') }}',
                    type: 'POST',
                    data: data,
                    success: function(data) {
                        results.html( data );
                        loader.fadeOut('fast', function() {
                            results.fadeIn('fast');
                        });
                    }
                });
            });            
        });
    };
    
    div.on('toggle-change', '.province_filter', filterEvent);
    div.on('toggle-change', '.resource_filter', filterEvent);
    div.on('click', '.nav_page', function(e) {
        $('.nav_page').prop('disabled', false);
        $(this).prop('disabled', true);
        
        filterEvent(e, $(this).data('id'));
    });
    
    $('#new_post').click(function() {
        var new_post = $('.help-post-div');
        if ( !new_post.is(':visible') )
            new_post.slideDown();
        else 
            new_post.slideUp();
    });
   
    div.on('click', '.respond-btn', function() {
        var btn = $(this);
        var id = btn.data('id');
        
        if ( $('#response-'+id).length )
        {
            $('#response-'+id).slideUp(400, function() {
                $(this).remove();
            });
        } else {                
            var form = $('div#response-form-template').clone();
            
            form.attr('id', 'response-'+id);            
            $('.help_id', form).val(id);
            btn.parent().next('div.response-form-wrapper').html( form );
            form.slideDown();           
            
            form.submit(function(e){
                e.preventDefault();
                var submit_form = $('form','#response-'+id);                
                $.ajax({
                    url: '{{ path('post_response') }}',
                    data: submit_form.serialize(),
                    dataType: 'JSON',
                    type: 'POST',
                    success: function(data) {
                        if (data.status == 'success')
                        {                            
                            btn.parent().parent().find('div.response-results-wrapper').append( data.data );
                        } else {
                            console.log(data.data);
                        }
                        form.slideUp(400, function() {
                            $(this).remove();
                        });
                    }
                });
            });
        }
    });
});
</script>
