{% for help in helpcenter %}
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-2">
                    {% if help.reporter.ngo.logo %}
                    <img width="50" src="{{ help.reporter.ngo.logo }}" alt="{{ help.reporter.ngo }}" title="{{ help.reporter.ngo }}">
                    {% endif %}
                </div>
                <div class="col-md-10 comp-left">
                    <h4 class="name">{{ help.reporter }}</h4>
                    <h5>{{ help.reporter.ngo }}</h5>
                    <h5>{{ help.geo }}</h5>
                    <span class="time">{{ help.dateCreated|date('M j, Y') }}</span>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="popover right description">
                    <div class="arrow"></div>
                    <div class="popover-content">
                        {{ help.message }}
                    </div>
                </div>
            </div>
            <div class="row response-results-wrapper">
            {% for response in help.responses %}
                {% include "RMSRecoveryBundle:HelpCenter:response.html.twig" %}
            {% endfor %}
            </div>            
            <div class="row" style="margin-top: 10px;">
            {% if app.user is not null %}
                {% if app.user.ngo.id != help.reporter.ngo.id %}
                <button type="button" class="btn btn-warning pull-right respond-btn" data-id="{{ help.id }}">Respond</button>
                {% endif %}
                {% if app.user.id == help.reporter.id %}
                    {% if help.responses|length > 0 %}
                <form method="post" action="{{ path('post_archive') }}">
                <input type="hidden" name="post_id" value="{{ help.id }}"/>
                <button type="submit" class="btn btn-info pull-right archive-btn">Archive</button>
                </form>
                    {% else %}
                <form method="post" action="{{ path('post_delete') }}">
                <input type="hidden" name="post_id" value="{{ help.id }}"/>
                <button type="submit" class="btn btn-danger pull-right delete-btn">Delete</button>
                </form>
                    {% endif %}
                {% endif %}
                {% endif %}
            </div>
            <div class="row response-form-wrapper">            
            </div>            
        </div>
    </div>
    <hr>
{% endfor %}
    <div id="help_center_pagination" style="text-align: center;">
        {% if paginator > 1 %}        
            {% for i in 1..paginator %}
            <a class="nav_page btn btn-success btn-xs" {% if (i==current_page) %}disabled{% endif %} data-id="{{i}}">{{i}}</a>
            {% endfor %}
        {% endif %}
    </div>