{% extends "RMSRecoveryBundle::layout.html.twig" %}

{% block stylesheets_custom %}
<link rel='stylesheet' type='text/css' href='{{ asset('bundles/rmsrecovery/css/helpcenter.css') }}'/>
<link rel='stylesheet' type='text/css' href="{{ asset('bundles/rmsrecovery/datepicker/css/datepicker.css') }}" rel="stylesheet"/>
{% endblock stylesheets_custom %}

{% block nav_tabs %}
    {{ _this.nav_tabs('helpcenter') }}
{% endblock %}

{% block content %}
<!-- HELPCENTER BOARD STARTS HERE -->
<div class="container">
    <div class="row">
        {% if app.user is not null %}
        <button class="btn btn-success btn-lg pull-right" id="new_post">Add New Entry</button>
        {% endif %}
        <div class="col-md-{% if app.user is not null %}10{% else %}12{% endif %}">
            <span class="text-muted">
            The Resource Center is here to allow you to post immediate needs, 
            whether it would be transportation, suppliers, purchasing partners 
            to combine orders. The Cebu Chamber of Commerce and the Mandaue 
            Chamber of Commerce agreed to monitor the board several times a day 
            to answer your questions and provide viable suggestions. Simply 
            register to post and reply.</span>
        </div>
    </div>
    <br>
    {% if app.user is not null %}
    {% include "RMSRecoveryBundle:HelpCenter:post_form.html.twig" %}
    {% endif %}

        <!-- PROVINCE FILTERS STARTS HERE -->
    <div class="row">
        <h4>Provinces</h4>
        <div class="btn-group1" data-toggle="buttons">
            <label class="province_filter btn btn-sm btn-default active all" data-id="0" >
                <input type="checkbox"> All
            </label>
            {% for province in provinces %}
            <label class="province_filter btn btn-sm btn-default province_filter" data-id="{{ province.id }}" >
                <input type="checkbox"> {{ province.name }}
            </label>
            {% endfor %}
        </div>
    </div>
    <!-- PROVINCE FILTERS ENDS HERE -->
    <!-- RESOURCE FILTERS STARTS HERE -->
    <div class="row">
        <h4>Resource Needed</h4>
        <div class="btn-group1" data-toggle="buttons">
            <label class="resource_filter btn btn-sm btn-default active all" data-id="0">
                <input type="checkbox"> All
            </label>
            {% for resource in resources %}
            <label class="resource_filter btn btn-sm btn-default" data-id="{{ resource.id }}">
                <input type="checkbox"> {{ resource.name }}
            </label>
            {% endfor %}            
        </div>
        <hr>
    </div>
    <!-- RESOURCE FILTERS ENDS HERE -->
    <div id="filter_loader" style="display: none;">
        <img src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
    </div>
    <div id="help_center_results">        
        {% include "RMSRecoveryBundle:HelpCenter:filter.html.twig" %}
    </div>
    {% if list_view is defined %}
    {% if list_view == true %}
    <a href="{{ path('view_archive') }}" class="btn btn-primary">Read Archived Posts</a>    
    {% else %}
    <a href="{{ path('view_current') }}" class="btn btn-primary">Read Current Posts</a>
    {% endif %}
    {% endif %}
    
    {% if app.user is not null %}
    {% include "RMSRecoveryBundle:HelpCenter:response_form.html.twig" %}
    {% endif %}
</div>
<!-- HELPCENTER BOARD ENDS HERE -->
{% endblock content %}
    
{% block javascripts %}
    {{ parent() }}
    {% include "RMSRecoveryBundle:HelpCenter:_js.html.twig" %}
{% endblock javascripts %}