<div class="row help-post-div" style="display: none;">
    <div class="pane alert alert-warning">        
        {{ form_errors(form) }}
        <form role="form" class="help-post-form " method="POST" action="{{ path('helpcenter') }}">
            <div class="row help-center-wrapper">
                <div class="title-wrapper col-xs-2 element-spacing">
                    <div class="title">New Entry</div>
                    <img style="display:none;" class="right new-entry-loader" src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
                </div>
                <div class="col-xs-2 element-spacing">
                    <div class="form-group">
                        <label for="Organization">Organization</label>
                        <input type="text" class="form-control" placeholder="Organization" value="{{ app.user.ngo }}" disabled="disabled">
                    </div>
                </div>
                <div class="col-xs-4 element-spacing">
                    <div class="form-group">
                        {{ form_label(form.contact) }}
                        {{ form_widget(form.contact) }}
                    </div>
                </div>
                <div class="col-xs-4 element-spacing">
                    <div class="form-group">
                        {{ form_label(form.geo) }}
                        {{ form_widget(form.geo) }}
                    </div>
                </div>
            </div>
            <div class="row help-center-wrapper">
                <div class="col-xs-4 element-spacing">
                    <div class="form-group">
                        {{ form_label(form.type) }}
                        {{ form_widget(form.type) }}
                    </div>
                </div>
                <div class="col-xs-8 element-spacing">
                    <div class="form-group">
                        {{ form_label(form.message) }}
                        {{ form_widget(form.message) }}
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 element-spacing" style="text-align: right;">
                    <button type="submit" class="btn btn-lg btn-success right">Save</button>
                </div>
            </div>
                
            {{ form_rest(form) }}
        </form>
    </div>
</div>
