
<div id="response-form-template" class="row help-response-div" style="display: none;">
    <div class="pane alert alert-warning pull-right col-xs-8">        
        {{ form_errors(responseform) }}
        <form role="form" class="help-response-form " method="POST" action="{{ path('post_response') }}">
            <input type="hidden" name="post_id" class="help_id" />            
            <div class="row">                
                <div class="col-xs-12 element-spacing">
                    <div class="form-group">
                        {{ form_label(responseform.message) }}
                        {{ form_widget(responseform.message) }}
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-12 element-spacing" style="text-align: right;">
                    <button type="submit" class="btn btn-lg btn-success right">Save</button>
                </div>
            </div>
                
            {{ form_rest(responseform) }}
        </form>
    </div>
</div>