<div class="row">                
    <div class="col-md-3 text-right comp-right">
        <div class="col-md-10">
            {{ response.reporter }}<br>
            {{ response.reporter.ngo }}<br>
            {{ response.dateCreated|date('M j, Y') }}
        </div>
        <div class="col-md-2">
            {% if response.reporter.ngo.logo %}
            <img width="50" src="{{ response.reporter.ngo.logo }}" alt="{{ response.reporter.ngo }}" title="{{ response.reporter.ngo }}">
            {% endif %}
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="alert white">
                <div class="absolute"><span class="glyphicon glyphicon-play"></span></div>
                {{ response.message }}
            </div>
        </div>
    </div>
</div>