<div id="ngo-list">
    <div class="row">
        <nav class="navbar navbar-default col-md-offset-1 col-lg-10" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand">NGO / Relief Group List</a>
            </div>
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left" role="search" action="{{ path('ngo_list') }}">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search" name="q" value="{{ search }}">
                    </div>
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i> </button>
                </form>
            </div>
        </nav>

        <div class="col-md-offset-1 col-lg-10">
            <div class="row">
                <div class="col-lg-4">
                    <ul>
                        {% for ngo in ngos %}
                        
{% if not loop.first and (loop.index-1) % per_column == 0 %}
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul>
{% endif %}
                        <li class="text-muted">{{ ngo }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /.row -->
</div>
