.province-accordion {
    margin-top: 5px;
}
.input-group.ph-checkbox,
.ph-header,
.municipality-accordion{
    /*margin-top: 20px*/
}
.clean{
    list-style: none;
    list-style-type: none
}
.header-user > small{
    display: block;
    margin-bottom: 10px
}
.header-user > img{
    float: left;
    margin: 0 10px 0 0;
}
.header-user > p{
    overflow: hidden;
    max-width: 200px
}
.header-user > p strong{
    display: block
}
.header-user{
    padding-left: 111px
}
.page-header{
    border-bottom: 0 none
}
.tab-pane header div{
    margin: 10px
}
.tab-pane header div span *{
    font-size: 13px
}
.tab-pane header div span{
    margin-right: 20px
}
.activity-label{
    display: block !important;
    float: left;
    margin: 4px 8px 0px 0;
    padding: 0;
    width: 12px;
    height: 12px
}
.ph-checkbox label,
.ph-tab-header label{
    padding-top: 4px;
    margin-right: 20px;
    color: #444;
    margin: 0px 20px 10px 0;
    display: inline-block
}
.ph-checkbox input[type="checkbox"],
.ph-tab-header input[type="checkbox"]{
    margin-top: 0;
    vertical-align: text-top
}
.ph-checkbox label.label-danger,
.ph-tab-header label.label-danger{
    color: #fff
}
/*tooltip*/
.tooltip-inner{
    max-width: inherit
}
/*label*/
.label-ph .close{
    padding: 2px;
    float: none
}
.label-ph{
    background: #008abd;
    font-size: 14px;
    font-weight: normal;
    padding: 6px 10px
}
/*button*/
.ph-btn-lg{
/*    background: #5ea344;
    border: 1px solid #5ea344;
    padding: 15px 45px;
    font-size: 1.875em;*/
    width: 50%;
}
.ph-btn-lg:hover{
    background: rgba(94, 163, 68, 0.87);
    border-color: #5ea344;
}
/*font color*/
.darkgreen *{
    color: #006f64
}
.ph-tab{
	margin-bottom: 20px;
}
.ph-tab .tab-pane header div.input-group{
    max-width: 600px;
    width: 100%;
    display: block;
    margin-top: 20px
}

.municipality-accordion .panel-title a:hover{
    text-decoration: none;
}
.ph-tab .municipality-accordion .panel-title i{
    float: right
}
.ph-tab .municipality-accordion .panel-title a.collapsed i:before{
    content: '\e105'
}
.municipality-accordion .panel-title a span{
    background: #428bca;
    padding: 4px 14px 4px 16px;
    position: relative;
    color: #fff;
    border-radius: 3px
}
.ph-tab .province-accordion h4 a.collapsed i:before{
    content: '\e160'
}
.cls span a{
    margin-right: 20px
}
.ph-table-img img{
    /*width: 24px;*/
    margin: 0 10px 0 0
}
.arealist{
	width: 100%;
}
.arealist li{
	min-width: 160px;
	float: left;
	margin: 0 10px 0 0;
        padding: 3px;
}
.arealist li label {
    /*border: 0;*/
    text-align: left;
    /*padding: 4px 0 4px 6px;*/
}
.arealist li:hover{
/*	background:#f0f0f0;
	border-radius:5px;*/
}
.arealist li label{
	margin:0px;
	font-weight:normal;
	width: 100%;
}
.arealist li.checked{
	background:#e0e0e0;
	border-radius:5px;
}
.arealist input[type='checkbox']{
	display:none;
}
.status-label{
	float: left;
	width: 100px;
}
.status-stream {
	float: left;
	padding-left: 10px;
}
.status-stream ul {
	width: 100%;
	list-style:none;
	padding-left: 0px;
}
.status-stream span.title{
	color:#868686;
}
div.big-blue-bar {
    display: inline-block;
    width: 83.3%;
    float: left;
    background: #428bca;
    top: -10px;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    right: -15px;
}
div.big-green-bar {
    display: inline-block;
    width: 70.3%;
    float: left;
    background: #5cb85c;
    top: -10px;
    overflow: hidden;
    padding: 10px 10px 10px 10px;
    right: -15px;
}
div.barangay-board-header {
    background-color: #d38c6c;
    margin-bottom:5px;
}
div.barangay-board-header span {
    color:#fff;
}
div.board-first-field {
    font-weight: bold;
    color: #d38c6c;
}
div.board-second-field span {
    font-weight: bold;
}
div.board-second-field small {
    color:gray;
}
div.board-third-field {
    color: #000;
    padding: 5px;
    border-radius: 1px;
}
div.board-separator {
    width: 101.5%;
}
div.board-separator hr {
    border-top: 1px dashed #9E9E9E;
}
div.board-form-labels {
    padding-right: 0;
}
div.board-form-labels span:first-child {
    float:left;
    color: #d38c6c;
    font-weight: bold
}
div.board-form-labels span:last-child {
    float:right;
    color: gray;
    font-weight: bold
}
div.board-form-submit textarea {
    margin-bottom:5px;
}
div.modal-dialog {
    /*width: 1200px;*/
    width: 100%;
}
div.modal-header {
    padding: 0;
    height: 42px;
}
div.modal-label-left {
    float:left;
    background-color: #428bca;
    padding: 8px 12px;
    color:#fff;
}
div.modal-label-right {
    float:left;
    padding: 8px 12px;
}
button.btn-modal-close {
    padding: 1px 13px 1px 5px;
    float: right;
    margin: 4px 4px 1px 1px;
}
div.modal-head-separator {
    background: #5cb85c;
    color:#fff;
}
.munic-summary {
    background: url("../images/summary_icon.png") no-repeat;
}
.toggle-provinces a,
.toggle-provinces a:hover {
    color:inherit;
    text-decoration: none;
}
.toggle-provinces input {
    display: none;
}

.aiddistngo th.ngo,
.aiddistngo td.ngo{
    padding-left: 0 !important;
    background: none !important;
    border: 0;
}
.aiddistngo {
    border: 0;
}
