/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .container,
    #header {
        padding: 0;
    }

    #footer {
        padding: 10px;
        height: 100px;
    }

    .menu-container,
    .registration-container,
    .add-project,
    .user-wrapper,
    .health-team-wrapper,
    .health-status-wrapper,
    .add-health-status,
    .add-health-team,
    .edit-health-team,
    .aid-distribution-wrapper,
    .aid-distribution-wrapper .ph-header-2,
    .province-main-content,
    .ph-header-2,
    #footer,
    #health-team-distribution .ph-header-2,
    #health-status .ph-header-2 {
        margin: 0;
    }

    .navbar {
        border-radius: 0;
        margin-bottom: 0;
    }

    .navbar-default {
        display: block;
        border-right: 0;
        border-left: 0;
    }

    .user-btn .col-xs-6:last-child {
        color: #000;
        text-align: right;
    }

    .user-btn .user-wrapper {
        padding: 6px 0;
    }

    .ph-header .col-md-4 {
        display: none;
    }

    .navbar-header .navbar-logo img {
        max-width: 100%;
        width: 90px;
        padding: 5px 10px;
    }

    .ph-recovery-menu {
        height: 0;
        overflow: hidden;
    }

    .ph-recovery-menu .nav-tabs > li {
        float: none;
        margin-bottom: 0;
    }

    .ph-recovery-menu .nav-tabs > li > a {
        border: 0;
        border-radius: 0;
        margin: 0;
    }

    .ph-recovery-menu .nav-tabs li.mobile-btn {
        display: block;
    }

    .ph-recovery-menu .nav-tabs > li.active > a,
    .ph-recovery-menu .nav-tabs > li.active > a:hover,
    .ph-recovery-menu .nav-tabs > li.active > a:focus,
    .ph-recovery-menu .nav-tabs > li > a:hover {
        border-bottom-color: #b0b0b2;
        margin: 0;
    }

    .menu-container .collapse {
        display: none;
    }

    #provinces-buttons .btn-default,
    .btn-group1 .btn-sm {
        margin-bottom: 10px;
    }

    .image-loader {
        text-align: center;
    }

    .image-loader img {
        float: none !important;
    }

    .panel-timedate {
        display: none;
        margin-right: 10px;
    }

    .panel-title div span.glyphicon {
        top: 3px;
    }

    .panel-title .project-img,
    .panel-title > a.volunteer-project {
        display: none;
    }

    /* HELP CENTER */
    #help_center_results .col-md-3 .col-md-2 {
        max-width: 60px;
        float: left;
        padding: 0 5px;
    }

    #help_center_results .col-md-3 .col-md-10.comp-left {
        padding-left: 5px;
        font-size: 13px;
        width: 86%;
        float: left;
    }

    #help_center_results .col-md-3 .col-md-10.comp-left .time {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }

    #help_center_results .col-md-9 {
        margin-top: 10px;
    }

    .popover.right .arrow {
        border-left: 1px solid #ffffed;
        margin-top: -37px;
        margin-left: 29px;
        -webkit-transform: rotate(91deg);
        -moz-transform: rotate(91deg);
        -ms-transform: rotate(91deg);
        -o-transform: rotate(91deg);
        transform: rotate(91deg);
    }

    .btn-success {
        z-index: 9999;
        position: relative;
    }

    .help-center-wrapper .element-spacing {
        width: 100%;
    }

    .help-center-wrapper .element-spacing .form-group {
        margin-bottom: 0;
    }

    /* HEALTH DISTRIBUTION */
    #health-team-distribution .ph-header-2 .col-md-7 h2.title,
    #health-team-distribution .ph-header-2 .col-md-7 h2.title2,
    #health-status .ph-header-2 .col-md-7 h2.title,
    #health-status .ph-header-2 .col-md-7 h2.title2 {
        width: 100%;
    }

    .text-right {
        text-align: center;
        padding-top: 10px;
    }

    .text-right a {
        margin-bottom: 10px;
    }

    .add-health-team .col-xs-no-padding-right,
    .add-health-team #services-rendered,
    .add-health-team .col-xs-3-custom,
    #add-entry-form .row .col-xs-no-padding-right {
        padding-right: 15px;
        width: 100% !important;
    }

    #add-entry-form .row div {
        width: 100%;
    }

    #add-entry-form .row .col-xs-no-padding-left {
        padding-left: 15px;
    }

    #add-entry-form .row div .datepicker {
        border-radius: 5px 0 0 5px;
    }

    #edit-entry-form .row {
        margin: 0;
    }

    #edit-entry-form .row .col-xs-no-padding-right,
    #edit-entry-form .row .col-xs-3-custom {
        width: 100% !important;
        padding: 0;
    }

    #edit-team-buttons .right a,
    #edit-team-buttons .right button {
        margin-bottom: 8px;
    }

    #health-team-distribution .table {
        display: inline-table;
    }

    #health-team-distribution .table .tr-head {
        display: none;
    }

    .show-msg-board-container .row .col-md-9 {
        margin-bottom: 20px;
    }

    #hdcontent .health-team-dist-mob {
        display: block;
    }

    #hdcontent .health-team-dist-mob h3,
    #hdcontent .health-team-dist-mob h4 {
        text-align: center;
    }

    #hdcontent .health-team-dist-mob h4 {
        background: #5ea043;
        color: #fff;
        border-right: 1px #5ea043 solid;
        padding: 14px;
        margin: 0;
    }

    /* AID DISTRIBUTION */
    .aid-distribution-wrapper .ph-header-2 .col-md-5.col-md-offset-1 {
        text-align: center;
    }

    .aid-distribution-wrapper .toggle-provinces {
        margin: 10px 0;
    }

    .aid-distribution-wrapper .toggle-provinces .btn-default {
        margin-bottom: 10px;
    }

    .province-main-content .panel-heading,
    .accordion-brgy .panel-heading {
        padding: 0 0 5px 0;
        margin-bottom: 25px;
    }

    .province-main-content .panel-heading .panel-collapse,
    .accordion-brgy .panel-heading .panel-collapse {
        float: left;
        width: 100%;
        height: 82px;
    }

    .province-main-content .panel-heading .panel-collapse .panel-collapse-header,
    .province-main-content .panel-heading .panel-collapse .big-green-bar,
    .accordion-brgy .panel-heading .panel-collapse .panel-collapse-header,
    .accordion-brgy .panel-heading .panel-collapse .big-blue-bar {
        width: 100% !important;
        float: none;
        padding: 3px 11px;
        margin-top: 1px;
    }

    .accordion-brgy .panel-heading .panel-collapse .panel-collapse-header {
        padding: 7px 11px !important;
    }

    .province-main-content .panel-heading .panel-collapse .panel-collapse-header div:first-child {
        margin: 3px 0 0 !important;
    }

    .province-main-content .panel-heading .panel-collapse .panel-collapse-header div:last-child {
        margin: -1px 0 0 !important;
    }

    .accordion-brgy .panel-heading .panel-collapse .big-blue-bar span {
        line-height: 1.4em;
    }

    .accordion-brgy .aiddistngo {
        margin-top: 15px;
    }

    .aiddistngo th.ngo,
    .aiddistngo td.ngo {
        display: none;
    }

    .province-main-content .panel-body .clean.arealist {
        padding: 9px;
    }

    .panel-group .panel {
        margin-bottom: 5px;
    }

    .aid-history-table {
        display: inline-table;
    }

    /* REGISTRATION */
    .registraion-wrapper {
        margin-right: -10px;
        margin-left: -10px;
    }
}

/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {
    .container,
    #header {
        padding: 0;
    }

    #footer {
        padding: 10px;
        height: 100px;
    }

    .menu-container,
    .registration-container,
    .add-project,
    .user-wrapper,
    .health-team-wrapper,
    .health-status-wrapper,
    .add-health-status,
    .add-health-team,
    .edit-health-team,
    .aid-distribution-wrapper,
    .aid-distribution-wrapper .ph-header-2,
    .province-main-content,
    .ph-header-2,
    #footer,
    #health-team-distribution .ph-header-2,
    #health-status .ph-header-2 {
        margin: 0;
    }

    .navbar {
        border-radius: 0;
        margin-bottom: 0;
    }

    .navbar-default {
        display: block;
        border-right: 0;
        border-left: 0;
    }

    .user-btn .col-xs-6:last-child {
        color: #000;
        text-align: right;
    }

    .user-btn .user-wrapper {
        padding: 6px 0;
    }

    .ph-header .col-md-4 {
        display: none;
    }

    .navbar-header .navbar-logo img {
        max-width: 100%;
        width: 90px;
        padding: 5px 10px;
    }

    .ph-recovery-menu {
        height: 0;
        overflow: hidden;
    }

    .ph-recovery-menu .nav-tabs > li {
        float: none;
        margin-bottom: 0;
    }

    .ph-recovery-menu .nav-tabs > li > a {
        border: 0;
        border-radius: 0;
        margin: 0;
    }

    .ph-recovery-menu .nav-tabs li.mobile-btn {
        display: block;
    }

    .ph-recovery-menu .nav-tabs > li.active > a,
    .ph-recovery-menu .nav-tabs > li.active > a:hover,
    .ph-recovery-menu .nav-tabs > li.active > a:focus,
    .ph-recovery-menu .nav-tabs > li > a:hover {
        border-bottom-color: #b0b0b2;
        margin: 0;
    }

    .menu-container .collapse {
        display: none;
    }

    #provinces-buttons .btn-default,
    .btn-group1 .btn-sm {
        margin-bottom: 10px;
    }

    .image-loader {
        text-align: center;
    }

    .image-loader img {
        float: none !important;
    }

    .panel-timedate {
        display: none;
        margin-right: 10px;
    }

    .panel-title div span.glyphicon {
        top: 3px;
    }

    .panel-title .project-img,
    .panel-title > a.volunteer-project {
        display: none;
    }

    /* HELP CENTER */
    #help_center_results .col-md-3 .col-md-2 {
        max-width: 60px;
        float: left;
        padding: 0 5px;
    }

    #help_center_results .col-md-3 .col-md-10.comp-left {
        padding-left: 5px;
        font-size: 13px;
        width: 86%;
        float: left;
    }

    #help_center_results .col-md-3 .col-md-10.comp-left .time {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }

    #help_center_results .col-md-9 {
        margin-top: 10px;
    }

    .popover.right .arrow {
        border-left: 1px solid #ffffed;
        margin-top: -37px;
        margin-left: 29px;
        -webkit-transform: rotate(91deg);
        -moz-transform: rotate(91deg);
        -ms-transform: rotate(91deg);
        -o-transform: rotate(91deg);
        transform: rotate(91deg);
    }

    .btn-success {
        z-index: 9999;
        position: relative;
    }

    .help-center-wrapper .element-spacing {
        width: 100%;
    }

    .help-center-wrapper .element-spacing .form-group {
        margin-bottom: 0;
    }

    /* HEALTH DISTRIBUTION */
    #health-team-distribution .ph-header-2 .col-md-7 h2.title,
    #health-team-distribution .ph-header-2 .col-md-7 h2.title2,
    #health-status .ph-header-2 .col-md-7 h2.title,
    #health-status .ph-header-2 .col-md-7 h2.title2 {
        width: 100%;
    }

    .text-right {
        text-align: center;
        padding-top: 10px;
    }

    .text-right a {
        margin-bottom: 10px;
    }

    .add-health-team .col-xs-no-padding-right,
    .add-health-team #services-rendered,
    .add-health-team .col-xs-3-custom,
    #add-entry-form .row .col-xs-no-padding-right {
        padding-right: 15px;
        width: 100% !important;
    }

    #add-entry-form .row div {
        width: 100%;
    }

    #add-entry-form .row .col-xs-no-padding-left {
        padding-left: 15px;
    }

    #add-entry-form .row div .datepicker {
        border-radius: 5px 0 0 5px;
    }

    #edit-entry-form .row {
        margin: 0;
    }

    #edit-entry-form .row .col-xs-no-padding-right,
    #edit-entry-form .row .col-xs-3-custom {
        width: 100% !important;
        padding: 0;
    }

    #edit-team-buttons .right a,
    #edit-team-buttons .right button {
        margin-bottom: 8px;
    }

    #health-team-distribution .table {
        display: inline-table;
    }

    #health-team-distribution .table .tr-head {
        display: none;
    }

    .show-msg-board-container .row .col-md-9 {
        margin-bottom: 20px;
    }

    #hdcontent .health-team-dist-mob {
        display: block;
    }

    #hdcontent .health-team-dist-mob h3,
    #hdcontent .health-team-dist-mob h4 {
        text-align: center;
    }

    #hdcontent .health-team-dist-mob h4 {
        background: #5ea043;
        color: #fff;
        border-right: 1px #5ea043 solid;
        padding: 14px;
        margin: 0;
    }

    /* AID DISTRIBUTION */
    .aid-distribution-wrapper .ph-header-2 .col-md-5.col-md-offset-1 {
        text-align: center;
    }

    .aid-distribution-wrapper .toggle-provinces {
        margin: 10px 0;
    }

    .aid-distribution-wrapper .toggle-provinces .btn-default {
        margin-bottom: 10px;
    }

    .province-main-content .panel-heading,
    .accordion-brgy .panel-heading {
        padding: 0 0 5px 0;
        margin-bottom: 25px;
    }

    .province-main-content .panel-heading .panel-collapse,
    .accordion-brgy .panel-heading .panel-collapse {
        float: left;
        width: 100%;
        height: 82px;
    }

    .province-main-content .panel-heading .panel-collapse .panel-collapse-header,
    .province-main-content .panel-heading .panel-collapse .big-green-bar,
    .accordion-brgy .panel-heading .panel-collapse .panel-collapse-header,
    .accordion-brgy .panel-heading .panel-collapse .big-blue-bar {
        width: 100% !important;
        float: none;
        padding: 3px 11px;
        margin-top: 1px;
    }

    .accordion-brgy .panel-heading .panel-collapse .panel-collapse-header {
        padding: 7px 11px !important;
    }

    .province-main-content .panel-heading .panel-collapse .panel-collapse-header div:first-child {
        margin: 3px 0 0 !important;
    }

    .province-main-content .panel-heading .panel-collapse .panel-collapse-header div:last-child {
        margin: -1px 0 0 !important;
    }

    .accordion-brgy .panel-heading .panel-collapse .big-blue-bar span {
        line-height: 1.4em;
    }

    .accordion-brgy .aiddistngo {
        margin-top: 15px;
    }

    .aiddistngo th.ngo,
    .aiddistngo td.ngo {
        display: none;
    }

    .province-main-content .panel-body .clean.arealist {
        padding: 9px;
    }

    .panel-group .panel {
        margin-bottom: 5px;
    }

    .aid-history-table {
        display: inline-table;
    }

    /* REGISTRATION */
    .registraion-wrapper {
        margin-right: -10px;
        margin-left: -10px;
    }
}

/* Landscape phones and down */
@media only screen and (max-width: 480px) {
    .container,
    #header {
        padding: 0;
    }

    #footer {
        padding: 10px;
        height: 100px;
    }

    .menu-container,
    .registration-container,
    .add-project,
    .user-wrapper,
    .health-team-wrapper,
    .health-status-wrapper,
    .add-health-status,
    .add-health-team,
    .edit-health-team,
    .aid-distribution-wrapper,
    .aid-distribution-wrapper .ph-header-2,
    .province-main-content,
    .ph-header-2,
    #footer,
    #health-team-distribution .ph-header-2,
    #health-status .ph-header-2 {
        margin: 0;
    }

    .navbar {
        border-radius: 0;
        margin-bottom: 0;
    }

    .navbar-default {
        display: block;
        border-right: 0;
        border-left: 0;
    }

    .user-btn .col-xs-6:last-child {
        color: #000;
        text-align: right;
    }

    .user-btn .user-wrapper {
        padding: 6px 0;
    }

    .ph-header .col-md-4 {
        display: none;
    }

    .navbar-header .navbar-logo img {
        max-width: 100%;
        width: 27%;
        padding: 5px 10px;
    }

    .ph-recovery-menu {
        height: 0;
        overflow: hidden;
    }

    .ph-recovery-menu .nav-tabs > li {
        float: none;
        margin-bottom: 0;
    }

    .ph-recovery-menu .nav-tabs > li > a {
        border: 0;
        border-radius: 0;
        margin: 0;
    }

    .ph-recovery-menu .nav-tabs li.mobile-btn {
        display: block;
    }

    .ph-recovery-menu .nav-tabs > li.active > a,
    .ph-recovery-menu .nav-tabs > li.active > a:hover,
    .ph-recovery-menu .nav-tabs > li.active > a:focus,
    .ph-recovery-menu .nav-tabs > li > a:hover {
        border-bottom-color: #b0b0b2;
        margin: 0;
    }

    .menu-container .collapse,
    .modal-label-left {
        display: none;
    }

    #provinces-buttons .btn-default,
    .btn-group1 .btn-sm {
        margin-bottom: 10px;
    }

    .image-loader {
        text-align: center;
    }

    .image-loader img {
        float: none !important;
    }

    .panel-timedate {
        display: none;
        margin-right: 10px;
    }

    .panel-title .project-img,
    .panel-title > a.volunteer-project {
        display: none;
    }

    /* HELP CENTER */
    #help_center_results .col-md-3 .col-md-2 {
        max-width: 60px;
        float: left;
        padding: 0 5px;
    }

    #help_center_results .col-md-3 .col-md-10.comp-left {
        padding-left: 5px;
        font-size: 13px;
        width: 85%;
        float: left;
    }

    #help_center_results .col-md-3 .col-md-10.comp-left .time {
        float: right;
        position: absolute;
        top: 0;
        right: 0;
    }

    #help_center_results .col-md-9 {
        margin-top: 10px;
    }

    .popover.right .arrow {
        border-left: 1px solid #ffffed;
        margin-top: -37px;
        margin-left: 29px;
        -webkit-transform: rotate(91deg);
        -moz-transform: rotate(91deg);
        -ms-transform: rotate(91deg);
        -o-transform: rotate(91deg);
        transform: rotate(91deg);
    }

    .btn-success {
        z-index: 9999;
        position: relative;
    }

    .help-center-wrapper .element-spacing {
        width: 100%;
    }

    .help-center-wrapper .element-spacing .form-group {
        margin-bottom: 0;
    }

    /* HEALTH DISTRIBUTION */
    #health-team-distribution .ph-header-2 .col-md-7 h2.title,
    #health-team-distribution .ph-header-2 .col-md-7 h2.title2 {
        width: 100%;
    }

    .text-right {
        text-align: center;
        padding-top: 10px;
    }

    .text-right a {
        margin-bottom: 10px;
        width: 100%;
    }

    .add-health-team .col-xs-no-padding-right,
    .add-health-team #services-rendered,
    .add-health-team .col-xs-3-custom,
    #add-entry-form .row .col-xs-no-padding-right {
        padding-right: 15px;
        width: 100% !important;
    }

    #add-entry-form .row div {
        width: 100%;
    }

    #add-entry-form .row .col-xs-no-padding-left {
        padding-left: 15px;
    }

    #add-entry-form .row div .datepicker {
        border-radius: 5px 0 0 5px;
    }

    #edit-entry-form .row {
        margin: 0;
    }

    #edit-entry-form .row .col-xs-no-padding-right,
    #edit-entry-form .row .col-xs-3-custom {
        width: 100% !important;
        padding: 0;
    }

    #edit-team-buttons .right a,
    #edit-team-buttons .right button {
        margin-bottom: 8px;
    }

    #health-team-distribution .table {
        display: inline-table;
    }

    #health-team-distribution .table .tr-head {
        display: none;
    }

    #health-team-distribution .table .tr-bg td:nth-child(7),
    #health-team-distribution .table .tr-bg td:nth-child(8),
    #health-team-distribution .table .tr-content td:nth-child(7),
    #health-team-distribution .table .tr-content td:nth-child(8) {
        display: none;
    }

    .show-msg-board-container .row .col-md-9 {
        margin-bottom: 20px;
    }

    #hdcontent .health-team-dist-mob {
        display: block;
    }

    #hdcontent .health-team-dist-mob h3,
    #hdcontent .health-team-dist-mob h4 {
        text-align: center;
    }

    #hdcontent .health-team-dist-mob h4 {
        background: #5ea043;
        color: #fff;
        border-right: 1px #5ea043 solid;
        padding: 14px;
        margin: 0;
    }

    /* AID DISTRIBUTION */
    .aid-distribution-wrapper .ph-header-2 .col-md-5.col-md-offset-1 {
        text-align: center;
    }

    .aid-distribution-wrapper .ph-header-2 .col-md-5.col-md-offset-1 a {
        width: 100%;
        margin-bottom: 10px;
    }

    .aid-distribution-wrapper .toggle-provinces {
        margin: 10px 0;
    }

    .aid-distribution-wrapper .toggle-provinces .btn-default {
        margin-bottom: 10px;
    }

    .province-main-content .panel-heading,
    .accordion-brgy .panel-heading {
        padding: 0 0 5px 0;
        margin-bottom: 25px;
    }

    .province-main-content .panel-heading .panel-collapse,
    .accordion-brgy .panel-heading .panel-collapse {
        float: left;
        width: 100%;
        height: 82px;
    }

    .province-main-content .panel-heading .panel-collapse .panel-collapse-header,
    .province-main-content .panel-heading .panel-collapse .big-green-bar,
    .accordion-brgy .panel-heading .panel-collapse .panel-collapse-header,
    .accordion-brgy .panel-heading .panel-collapse .big-blue-bar {
        width: 100% !important;
        float: none;
        padding: 3px 11px;
        margin-top: 1px;
    }

    .accordion-brgy .panel-heading .panel-collapse .panel-collapse-header {
        padding: 7px 11px !important;
    }

    .province-main-content .panel-heading .panel-collapse .panel-collapse-header div:first-child {
        margin: 3px 0 0 !important;
    }

    .province-main-content .panel-heading .panel-collapse .panel-collapse-header div:last-child {
        margin: -1px 0 0 !important;
    }

    .accordion-brgy .panel-heading .panel-collapse .big-blue-bar span {
        line-height: 1.4em;
    }

    .accordion-brgy .aiddistngo {
        margin-top: 15px;
    }

    .aiddistngo th.ngo,
    .aiddistngo td.ngo {
        display: none;
    }

    .province-main-content .panel-body .clean.arealist {
        padding: 9px;
    }

    .panel-group .panel {
        margin-bottom: 5px;
    }

    .aid-history-table {
        display: inline-table;
    }


    /* REGISTRATION */
    .registraion-wrapper {
        margin-right: -10px;
        margin-left: -10px;
    }
}