div.bs-custom:after {
    content: "new entry";
}
.left {
    float: left;
}
.right {
    float: right;
}
span.btn-calendar-custom {
    vertical-align: bottom;
    padding-bottom: 1px;
}
span.btn-calendar-custom button {
    height: 34px;
}
.col-xs-no-padding-left {
    padding-left: 0;
}
.col-xs-no-padding-right {
    padding-right: 0;
}
.col-xs-3-custom {
    width: 20%;
}
.col-xs-4-custom {
    width: 30%;
}
#entry-container .pane {
    border: 1px solid grey;
}
#entry-container label {
    color: grey;
    font-weight: normal;
}
#entry-container h3 {
    color: grey;
}
