div.bs-custom:after {
    content: "new entry";
}
.left {
    float: left;
}
.right {
    float: right;
}
span.btn-calendar-custom {
    vertical-align: bottom;
    padding-bottom: 1px;
}
span.btn-calendar-custom button {
    height: 34px;
}
.col-xs-no-padding-left {
    padding-left: 0;
}
.col-xs-no-padding-right {
    padding-right: 0;
}
.col-xs-3-custom {
    width: 20%;
}
.col-xs-4-custom {
    width: 30%;
}
#entry-container .pane {
    border: 1px solid grey;
}
#entry-container label {
    color: grey;
    font-weight: normal;
}
#entry-container h3 {
    color: grey;
}
/*
hr {
    border-top: 2px solid #b8b9bb;
} */

h2.title {
    background: #0089bd;
    display: inline-block;
    padding: 15px 40px 15px 20px;
    color: #fff;
    font-size: 24px;
    margin: 0;
	margin-right: -4px;
}

h2.title2 {
	color: #fff;
    display: inline-block;
    font-size: 24px;
    margin: 0;
	margin-right: -4px;
	background: #d0d2d3;
	padding: 26px 30px 28px 30px;
}

h2.title2.active{
	background: #0089bd;
}

h2.title.inactive{
	background: #d0d2d3;
}

a.title-link{
    color: #fff !important;
	text-decoration: none !important;
}

h2.title2:hover h2.title:hover{
    cursor:pointer;
}

h2.title img {
    margin-right: 20px;
}

/*h3 {
    color: #414042;
    border-bottom: 2px solid #b8b9bb;
    padding-bottom: 10px;
    padding-left: 40px;
    font-size: 24px;
}*/

td h3 {
    font-size: 24px;
    border: none;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 16px;
    color: #6d6e70;
    font-weight: normal;
}

h4.name {
    margin: 0;
}
/*
.row {
    margin: 0;
} */
/*
.btn-default {
    background: none;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 0px 30px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background: #d0d2d3;
    box-shadow: none;
    color: #000;
} */
/*
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
} */

.popover.description {
    display: block;
    /*position: relative;*/
    border-radius: 0;
    max-width: 100%;
    background: #ffffed;
    color: #58595b;
    font-weight: normal;
    box-shadow: none;
    border-color: #808285;
}

.popover.right.description .arrow {
    top: 20px;
    border-right-color: rgba(44, 44, 44, 1);
}

.popover.right.description .arrow:after {
    border-right-color: #ffffed;
}

.alert.white {
    background: #fff;
    border: 1px #e0e1e2 solid;
    border-radius: 0;
    padding: 10px 15px 10px 30px;
    margin-top: 1px;
    margin-bottom: 0;
}

.absolute {
    position: absolute;
    left: 10px;
    top: 20px;
}

.comp-right {
    font-size: 12px;
    padding: 10px;
}

.comp-right img {
    width: 20px;
}

.comp-left {
    padding-left: 5px;
    font-size: 13px;
}

.padding-left {
    padding-left: 10px;
}

.see-prev {
    padding-top: 15px;
}

.see-prev a {
    color: #0f90c1;
    text-decoration: underline;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #a6a6a6;
}

.tb-space {

}

.tb-space table {
    color: #000;
    border: none;
}

.tb-space table tr td {
    text-align: center;
}

.tb-space table tr td:first-child {
    text-align: left;
}

.tb-space table tr td:last-child {
    text-align: left;
}

.tb-space table tr:nth-child(3) td {
    border-top: none;
}

.tr-bg td {
    background: #eaeaea;
    color: #5a5a5a;
    border-bottom: none !important;
}

.tr-bg td:last-child {
    text-align: center !important;
}

.tr-head td {
    border: none !important;
    background: #5ea043;
    color: #fff;
    /*text-align: left !important;*/
    vertical-align: middle !important;
}

.tr-head td:last-child {
    border-right: 1px #5ea043 solid !important;
    text-indent: 20px;
}

.tr-head td:first-child h3 {
    color: #000;
}

.tr-head td h3 {
    color: #fff;
    display: inline-block;
}

.tr-head td:nth-child(2) {
    text-align: center !important;
}

td.td-head {
    background: transparent;
    border: none;
}

.c-border {

}

.container.c-border {
    padding: 0;
    margin-bottom: 20px;
}

.spacer {
    width: 100%;
    height: 20px;
}

.contact {

}

.popover.bottom .arrow {
    left: 40px;
    border-bottom-color: rgba(140, 140, 140, 1);
}

.popover.bottom .arrow:after {
    border-bottom-color: #fff9bb;
}

.popover.bottom {
    border-radius: 0;
    background: #fff9bb;
    color: #58595b;
    font-size: 11px;
    border-color: #bbbdbf;
    color: #000;
    font-weight: normal;
    box-shadow: none;
}

.hidden {
    display: none;
}

.fl{
	float:left;
}

.cb{
	clear:both;
}

.manage-buttons{
	float: right;
	width: 39%;
	margin-top: 18px;
}

.black{
	color: #414042;
}

#health-status .col-md-9{
	padding-right:0px;
}
#health-status .col-xs-10{
	width: 98.333333%;
}
#health-status .col-xs-8{
	width: 73%;
}
.header-user {
padding-left: 111px;
}

#add-health-team, #manage-health-team{
	padding-left: 45px;
	padding-right: 45px;
}
#health-teams-buttons{
	width:41%;
}
#provinces-buttons{
	margin:0px;
}
#health-team-distribution #team-border{
	/*margin: -14px;*/
	width: 100%;
	max-width: 100%;
}
#health-team-distribution{
	margin-bottom: 5px;
}
.alert-success{
	margin:10px 0 10px -3px;
}
#edit-team-buttons{
margin-right: 7px;
}
.modal-label-header2{
	font-size: 20px;
	font-weight: bold;
}
.modal-label-left{
	float:left;
	margin:15px 10px 10px 10px;
}
.modal-label-right{
	float:right;
	margin:15px 10px 10px 10px;
}
.modal-footer{
	padding:15px 10px;
}
#services-rendered{
	width: 73%
}
.col-xs-3-location{
	width: 29.5%;
}
.border-top-none{
	border-top:none;
}
.border-left-none{
	border-left:none;
}
.show-msg-board-button-container{
	margin-bottom:20px;
	text-align:center;
}
.show-msg-board{
	font-weight:bold;
	padding: 5px 50px;
}
.orange-text{
    float: left;  color: #d38c6c;  font-weight: bold;
}

.post-update-button{
margin: 5px 0 25px 0;
}

.health-location-box label{
	float: left;
	margin-left: 27px;
	font-weight: bold !important;
	color:#6d6e70;
}

.health-location-box2 label{
	display: inline-block;
	margin-bottom: 5px;
	font-weight: bold !important;
	margin-left: 1px;
	color:#6d6e70;
}

.health-location-box .edit-location-name{
	display: inline;
	width: 83%;
	margin-left: 7px;
	float: left;
}

.edit-province{
	display: inline;
	width: 83%;
	margin-left: 5px;
}

.health-location-box #location-error{
	margin-left: 57px;
	margin-top: 5px;
	color: #B94A48;
	display: inline-block;
}

/*dyosep*/
.panel-header {
	display: inline-block;
	vertical-align: top;
}

.first-col {
	min-width: 25%;
}

.second-col {
	max-width: 45%;
}

.third-col {
	float: right;
}

.fourth-col {
	float: right;
}

.fourth-col:hover {
	text-decoration: none;
}

.inside-panel-body {
	border: 1px solid;
	border-radius: 4px;
	border-color: #dddddd;
	background-color: #ffffed;
	padding: 15px;
}

.outside-panel-body {
	padding-left: 25%;
}

.panel-body-ul {
	list-style-type: none;
	padding-left: 0;
	line-height: 35px;
}
#map-modal div.modal-dialog {
	/*width: 900px;*/
    width: 84% !important;
}
#map {
	height: 450px;width: 100%;
}
.project-email{
	width:24% !important;
}
.col-xs-11-custom {
	width: 98.666667%;
}
.project-img{
	width: 40px;
	margin-right: 8px;
}