body {
    /*background: #f1f1f2;*/
    font-size: 14px;
    color: #6c6d6f;
}

hr {
    border-top: 2px solid #b8b9bb;
}

h2.title {
    background: #0089bd;
    display: inline-block;
    padding: 15px 40px 15px 20px;
    color: #fff;
    font-size: 24px;
}

h2.title img {
    margin-right: 20px;
}

h3 {
    color: #414042;
    border-bottom: 2px solid #b8b9bb;
    padding-bottom: 10px;
    padding-left: 40px;
    font-size: 24px;
}

h4 {
    font-size: 16px;
    color: #6d6e70;
    font-weight: normal;
}

h4.name {
    margin: 0;
}

.row {
    margin: 0;
}

.nav-btm-border {
    background: #7d7e81;
    height: 1px;
    margin-top: -1px;
}

.nav-tabs > li {
    font-size: 18px;
    color: #fff;
}

.nav-tabs > li > a {
    font-size: 18px;
    color: #fff;
    background-color: #d0d2d3;
    border: 1px solid #b0b0b2;
    border-radius: 8px 8px 0 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover {
    color: #0d9cff;
    background-color: transparent;
    border: 1px solid #b0b0b2;
    border-bottom-color: #ffffff;
}

.btn-default {
    background: none;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 0px 30px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
    background: #d0d2d3;
    box-shadow: none;
    color: #000;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding: 0;
}

.popover.description {
    display: block;
    position: relative;
    border-radius: 0;
    max-width: 100%;
    background: #ffffed;
    color: #58595b;
    font-weight: normal;
    box-shadow: none;
    border-color: #808285;
}

.popover.right.description .arrow {
    top: 20px;
    border-right-color: rgba(44, 44, 44, 1);
}

.popover.right.description .arrow:after {
    border-right-color: #ffffed;
}

.alert.white {
    background: #fff;
    border: 1px #e0e1e2 solid;
    border-radius: 0;
    padding: 10px 15px 10px 30px;
    margin-top: 1px;
    margin-bottom: 0;
}

.absolute {
    position: absolute;
    left: 10px;
    top: 20px;
}

.comp-right {
    font-size: 12px;
    padding: 10px;
}

.comp-right img {
    width: 20px;
}

.comp-left {
    padding-left: 5px;
    font-size: 13px;
}

.padding-left {
    padding-left: 10px;
}

.see-prev {
    padding-top: 15px;
}

.see-prev a {
    color: #0f90c1;
    text-decoration: underline;
}

.help-post-div  .pane{
   border: solid #6d6e70 1px;
}

.help-post-div .pane {
    margin: 0;
    padding: 0;
}

.help-post-div .title-wrapper {
    background: #6d6e70;
    color: #fff;
    font-size: 2.0em;
    line-height: 40px;
    height: 70px;
    text-align: center;
}
.help-post-div .title {
    line-height: 54px;
}
.element-spacing {
    padding: 10px;
}