a.no-hover {
    color: #fff;
}
a.no-hover:hover {
    text-decoration: none;
}
.left {
    float: left;
}
.right {
    float: right;
}
div.filter-box {
    padding-left:45px;
}
div.filter-box div.first {
    padding-left: 0;
    padding-right: 0;
}
div.filter-box div.second {
    padding-right: 0;
    padding-left: 5px;
}
div.filter-box div.third {
    padding-left: 5px;
}
