html,
body {
    margin:0;
    padding:0;
    height:100%;
}
#container {
    min-height:85%;
    position:relative;
}
#header {
    padding:10px;
}
#body {
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}
#footer {
    height: 130px;
    padding: 20px 10px;
}
#footer-container {
    background: #d0d2d3;
}


.nav-btm-border {
    background: #7d7e81;
    height: 1px;
    margin-top: -1px;
}

.nav-tabs > li {
    font-size: 18px;
    color: #fff;
}

.nav-tabs > li > a {
    font-size: 18px;
    color: #fff;
    background-color: #d0d2d3;
    border: 1px solid #b0b0b2;
    border-radius: 8px 8px 0 0;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li > a:hover {
    color: #0d9cff;
    background-color: transparent;
    border: 1px solid #b0b0b2;
    border-bottom-color: #ffffff;
}

.aid-distribution-wrapper .ph-header-2 .col-md-5.col-md-offset-1 {
    text-align: right;
}

.ph-recovery-menu .nav-tabs li.mobile-btn,
.navbar-default,
.health-team-dist-mob {
    display: none;
}

.menu-container .collapse {
    display: block;
}

#entry-container {
    margin-top: 10px;
}

.image-loader {
    width: 100%;
    float: left;
}