<script src="{{ asset('bundles/rmsrecovery/datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript">
function toggleShowMsBoard(i)
{
	alert(i);
}
jQuery(function($) {
    $(document).on("click", '#btn-calendar', function() {
        $('#rms_recoverybundle_healthteam_dateArrived').focus();
    });
    $(document).on("click", '#btn-calendar2', function() {
        $('#rms_recoverybundle_healthteam_expectedDeparture').focus();
    });

    $(document).on("click", '#add-health-team', function() {
        var cont = $('#entry-container');
        cont.stop().toggle();
        return false;
    });

    $(document).on("click", '.show-msg-board', function() {
        var smbId = $(this).attr("id");
        var cont = $('#message-board-cont-'+smbId);
		var location = cont.attr("data-location");
		console.log(smbId);
        if (cont.is(":visible")) {
            $(this).html("Show "+location+" Message Board");
        } else {
            $(this).html("Hide "+location+" Message Board");
        }
        cont.stop().toggle();
        return false;
    });

    function loadpicker() {
        try {
            $('.datepicker').datepicker({format: 'dd/mm/yyyy'})
            .on('changeDate', function(ev){
                $('.datepicker').datepicker('hide');
            });
        } catch(error) {
        }
    }
    loadpicker();


    $(document).on("submit", "#add-entry-form", function() {
        var $this = $(this), action = $this.attr("action");
        $(".alert-success", "#entry-container").remove();
        $(".new-entry-loader").show();
        $.post(action+"?r="+Math.random(), $this.serialize(), function(data) {
            $("#entry-container").html(data);
            loadpicker();
        });
        return false;
    });

    $(document).on("submit", "#delete-entry-form", function() {
        var $this = $(this), action = $this.attr("action");
        //$(".new-entry-loader").show();
        $.post(action+"?r="+Math.random(), $this.serialize(), function(data) {
			location.href="{{path("health_team_manage")}}";
        });
        return false;
    });

    $(document).on("submit", "#add-location-form", function() {
        var $this = $(this), action = $this.attr("action");
        $.post(action+"?r="+Math.random(), $this.serialize(), function(data) {
			if(data.success)
			{
				$('#add-location-form input[type=text]').css({"border-color":""});
				$("#location-error").html("");
				$("#add-location").modal('hide');
				$("#health-location-container").html(data.data);
			}
			else
			{
				$('#add-location-form input[type=text]').css({"border-color":"#B94A48"});
				$("#location-error").html("<ul><li>"+data.data+"</li></ul>");
			}
        });
        return false;
    });
});
</script>
