<BR>
<div class="row" id="provinces-buttons">
    {#<h4>Provinces</h4>#}
    <div data-toggle="buttons">
		{% if show_all_button is defined %}
			<label class="btn btn-default {% if province.id is not defined %}active{% endif %}">
				<input class="filter-province" type="radio" value="{{ 0 }}" {% if province.id is not defined %}checked="checked"{% endif %}> {{ "All" }}
			</label>
		{% endif %}

        {% for province in provinces %}
        <label class="btn btn-default {% if province.id in filters %}active{% endif %}">
            <input class="filter-province" type="radio" value="{{ province.id }}" {% if province.id in filters %}checked="checked"{% endif %}> {{ province }}
        </label>
        {% endfor %}
    </div>
</div>
<hr>
