<!-- Modal -->
<div class="modal fade" id="add-location" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
		<form role="form" id="add-location-form" method="POST" action="{{ path('add_health_location_process') }}">
			<div class="modal-label-left">
				<h4 class="modal-title modal-label-header2" id="myModalLabel">Health Location</h4>
			</div>
			<div class="modal-label-right">
				<button data-dismiss="modal" aria-hidden="true" class="btn btn-primary btn-sm btn-modal-close">
					<span class="glyphicon glyphicon-remove"></span>
					Close
				</button>
			</div>
			<div class="cb" style="border-bottom: 1px solid #e5e5e5;"></div>
			<div class="modal-body">
				<BR>
				<div class="row">
					<div class="col-xs-11 col-xs-no-padding-right health-location-box">
						<div class="form-group">
							{{ form_label(form2.name) }}
							{{ form_widget(form2.name) }}
						</div>
						<div id="location-error">&nbsp;</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-11 col-xs-no-padding-right health-location-box2">
						<div class="form-group">
							{{ form_label(form2.province) }}
							{{ form_widget(form2.province) }}
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button class="btn btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
				<button type="submit" class="btn btn-sm btn-primary">Create</button>
			</div>
			{{form_rest(form2)}}
		</form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->