<div class="row add-health-team">
    <div class="pane alert alert-warning">
        <h3>
            Add Health Team
            <img style="display:none;" class="right new-entry-loader" src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
        </h3>
        {{ form_errors(form) }}

		<form role="form" id="add-entry-form" method="POST" action="{{ path('add_health_team') }}">
            <div class="row">
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.name) }}
						{{ form_widget(form.name) }}
                    </div>
                </div>
                <div class="col-xs-4 col-xs-no-padding-right">
                    <div class="form-group">
                        <!--<label for="NGO">NGO</label>
                        <input type="text" class="form-control" placeholder="NGO" value="{{ team.ngo }}" disabled="disabled">-->
						{{ form_label(form.ngo) }}
						{{ form_widget(form.ngo) }}
                    </div>
                </div>
                <div class="col-xs-3 col-xs-no-padding-right col-xs-3-location" id="health-location-container">
                    <div class="form-group">
						{{ form_label(form.location) }}
						{{ form_widget(form.location) }}
                    </div>
                </div>
                <div class="col-xs-1 col-xs-no-padding-right">
                    <div class="form-group">
						<div style="height:24px;"></div>
						<button type="button" class="btn for-modal btn-success" data-toggle="modal" data-target="#add-location"><i class="glyphicon glyphicon-plus"></i> Add new</button>
                    </div>
                </div>
			</div>

			<div class="row"><br></div>

            <div class="row">
                <div class="col-xs-1 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.md) }}
						{{ form_widget(form.md) }}
                    </div>
                </div>
                <div class="col-xs-1 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.rn) }}
						{{ form_widget(form.rn) }}
                    </div>
                </div>
                <div class="col-xs-1 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.other) }}
						{{ form_widget(form.other) }}
                    </div>
                </div>{#
                <div class="col-xs-4 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.skills) }}
						{{ form_widget(form.skills) }}
                    </div>
                </div>#}
                <div class="col-xs-8 col-xs-no-padding-right" id="services-rendered">
                    <div class="form-group">
						{{ form_label(form.servicesRendered) }}
						{{ form_widget(form.servicesRendered) }}
                    </div>
                </div>
			</div>

			<div class="row"><br></div>

			<div class="row">

			   <div class="col-xs-3 col-xs-3-custom">
					<div class="input-group form-group">
						{{ form_label(form.dateArrived) }}
						{{ form_widget(form.dateArrived) }}
						<span class="input-group-btn btn-calendar-custom">
							<button id="btn-calendar" class="btn btn-default glyphicon glyphicon-calendar" type="button"></button>
						</span>
					</div>
				</div>
			   <div class="col-xs-3 col-xs-3-custom">
					<div class="input-group form-group">
						{{ form_label(form.expectedDeparture) }}
						{{ form_widget(form.expectedDeparture) }}
						<span class="input-group-btn btn-calendar-custom">
							<button id="btn-calendar2" class="btn btn-default glyphicon glyphicon-calendar" type="button"></button>
						</span>
					</div>
				</div>
                <div class="col-xs-4 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.contactPerson) }}
						{{ form_widget(form.contactPerson) }}
                    </div>
                </div>
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.contactNumber) }}
						{{ form_widget(form.contactNumber) }}
                    </div>
                </div>
            </div>

			<div class="row"><br></div>

			<div class="row" style="">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-lg btn-success right">Save</button>
				</div>
			</div>

		{{ form_rest(form) }}
		</form>
	</div>
</div>
{% include "RMSRecoveryBundle:HealthTeam:addHealthLocation.html.twig" %}