
<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<form role="form" id="delete-entry-form" method="POST" action="{{ path('delete_health_team', {id: team.id}) }}">
				<div class="modal-label-left">
					<h4 class="modal-title modal-label-header2" id="myModalLabel">Confirm Deletion</h4>
				</div>
				<div class="modal-label-right">
					<button data-dismiss="modal" aria-hidden="true" class="btn btn-primary btn-sm btn-modal-close">
						<span class="glyphicon glyphicon-remove"></span>
						Close
					</button>
				</div>
				<div class="cb" style="border-bottom: 1px solid #e5e5e5;"></div>
				<div class="modal-body">
					<div class="text-center">
						Are you sure you want to delete the selected element?
						{#<img src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">#}
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
					<button type="submit" class="btn btn-sm btn-primary">Yes, delete</button>
				</div>
			</form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
