{% extends "RMSRecoveryBundle::layout.html.twig" %}

{% block stylesheets_custom %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/frontend-aid_distribution.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/health-team-distribution.css') }}" />
<link href="{{ asset('bundles/rmsrecovery/datepicker/css/datepicker.css') }}" rel="stylesheet">
{% endblock stylesheets_custom %}


{% block nav_tabs %}
    {{ _this.nav_tabs('health') }}
{% endblock %}

{% block content %}
<div class="container c-border" id="health-team-distribution">
    <div class="row health-team-wrapper">
		<div class="row ph-header-2">
			<div class="col-md-7">
				<h2 class="title"><img src="{{ asset('bundles/rmsrecovery/images/health.png') }}">{{ 'Medical Team Distribution'|trans }}</h2>
				<a href="{{ path('health_status') }}" class="title-link"><h2 class="title2">Message Board</h2></a>
			</div>

			<div class="col-md-5 text-right">
				{% if app.user is not null and is_granted('ROLE_NGO') and app.user.ngo.healthNgo and app.user.coordinator %}
				{#<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle btn-lg" data-toggle="dropdown">
						Medical Team Distribution <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ path('health_team_manage') }}">Manage Teams</a></li>
						<li><a href="{{ path('health_status') }}">Message Board</a></li>
					</ul>
				</div>#}
                                <a href="{{ path('health_team_manage') }}" class="btn btn-lg btn-warning">Manage Teams</a>
				<a id="add-health-team" href="#" class="btn btn-lg btn-success ph-btn-lg">{{ 'Add Team'|trans }}</a>
				{% endif %}
				</div>
			</div>
		</div>
		<div class="cb spacer"></div>

		{% if app.user is not null and is_granted('ROLE_NGO') and app.user.ngo.healthNgo and app.user.coordinator %}
		<div id="entry-container" style="display:none;">
		{% render(controller("RMSRecoveryBundle:HealthTeam:addHealthTeam")) %}
		</div>
		{% endif %}

		<div class="row health-team-wrapper">
		{% if app.user is null %}
				<div class="alert alert-warning">
					You must be logged in and be part of a Health NGO in order to access this information.
					<a href="{{ path('login') }}">Sign in</a>
				</div>
		{% else %}
			{% if is_granted('ROLE_NGO') %}
				{% if not app.user.ngo.healthNgo %}
				<div class="alert alert-warning">
					This section can only be accessed by health organizations authorized by the Department of Health. If you believe you should be authorized, please contact the live chat.
				</div>
				{% else %}
					{% block health_content %}
					{% include "RMSRecoveryBundle:HealthTeam:_provinces.html.twig" %}
						<div id="hdcontent">
							{% include "RMSRecoveryBundle:HealthTeam:distributionContent.html.twig" %}
						</div>
					{% endblock %}
				{% endif %}
			{% endif %}
		{% endif %}

    </div>

    <div class="spacer"></div>

</div> <!-- /container -->

{% endblock %}

{% block javascripts %}
{{ parent() }}
{% include "RMSRecoveryBundle:HealthTeam:_js.html.twig" %}
{% include "RMSRecoveryBundle:PostHealthStatus:_js.html.twig" %}
<script type="text/javascript">
jQuery(function($) {
    $('.contact').popover({
        trigger: 'hover',
        placement: 'bottom',
        html: false,
        content: function(){ return $(this).data("contact"); }
    });

    var xhr, tmr;
    $(document).on("change", ".filter-province", function() {
        var id = $(this).val();
        var url = "{{ path('health_team_distribution') }}?r="+Math.random()+"&_p="+id;
        if (tmr) clearTimeout(tmr);
        tmr = setTimeout(function() {
            $(".hdloader").show();
            if (xhr && xhr.readyState != 4) xhr.abort();
            $(".maintable").hide();
            xhr = $.get(url, function(data) {
                $("#hdcontent").html(data);
            });
        }, 200);
    });
});
</script>
{% endblock javascripts %}
