<img style="display:none;" class="pull-right hdloader" src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt=""><br>
<BR>
{% for location, row in locations %}
<div class="health-team-dist-mob">
    <h3 class="black">{{ location }}</h3>
    <h4>TOTAL HEALTH PROFESSIONALS PRESENT</h4>
</div>
<div class="table-responsive">
<table class="table table-bordered maintable border-top-none border-left-none" id="health-team-distribution">
    <tr class="tr-head">
        <td class="td-head"><h3 class="black">{{ location }}</h3></td>
        <td><h3>{{ total[location] }}</h3></td>
        <td colspan="8">TOTAL HEALTH PROFESSIONALS PRESENT</td>
    </tr>
    <tr class="tr-bg">
        <td width="25%">Health NGO</td>
        <td width="4%">MD</td>
        <td width="4%">RN</td>
        <td width="4%">Other</td>
        <td width="5%">Total</td>
        <td width="20%">Services Rendered</td>
        <td width="10%">Date Arrived</td>
        <td width="10%">Expected <br>Departure</td>
        <td width="15%">Contact</td>
    </tr>
    {% for team in row['teams'] %}
    <tr class="tr-content">
        <td>{% if team.ngo %}{{ team.ngo.name }} - {% endif %}<i>{{ team.name }}</i></td>
        <td>{% if team.md %}{{ team.md }}{% endif %}</td>
        <td>{% if team.rn %}{{ team.rn }}{% endif %}</td>
        <td>{% if team.other %}{{ team.other }}{% endif %}</td>
        <td>{% if team.total %}{{ team.total }}{% endif %}</td>
        <td style="font-size: smaller;">{{ team.servicesRendered }}</td>
        <td>{% if team.dateArrived %}{{team.dateArrived|date('M j, Y') }} {% endif %}</td>
        <td>{% if team.expectedDeparture %} {{team.expectedDeparture|date('M j, Y')}}{% endif %}</td>
        <td><span class="contact" data-contact="{{ team.contactNumber }}">
                {{ team.contactPerson }}
                <span class="text-muted">{{ team.contactNumber }}</span>
            </span>
        </td>
    </tr>
    {% endfor %}
</table>
</div>
<div class="show-msg-board-container">
	<div class="show-msg-board-button-container"><a href="#" id="{{row['location'].id}}" class="btn btn-sm btn-warning show-msg-board">{{'Show Message Board'|trans }}</a></div>
	<div style="display:none" id="message-board-cont-{{row['location'].id}}" data-location="{{location}}">
		{% render(controller("RMSRecoveryBundle:PostHealthStatus:index", {id:row['location'].id})) %}
	</div>
</div>
{% else %}
    {% if filters|length > 0 %}
    <span class="text-muted">No results found.</span>
    {% endif %}
{% endfor %}
