{% extends "RMSRecoveryBundle::layout.html.twig" %}
{% block nav_tabs %}
    {{ _this.nav_tabs('health') }}
{% endblock %}

{% block stylesheets_custom %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/frontend-aid_distribution.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/health-team-distribution.css') }}" />
<link href="{{ asset('bundles/rmsrecovery/datepicker/css/datepicker.css') }}" rel="stylesheet">
{% endblock stylesheets_custom %}

{% block content %}
<div class="container c-border" id="health-team-distribution">
    <div class="row ph-header-2">
		<div class="row ph-header-2">
			<div class="col-md-7">
				<h2 class="title"><img src="{{ asset('bundles/rmsrecovery/images/health.png') }}">{{ 'Health Team List'|trans }}</h2>
				<a href="{{ path('health_status') }}" class="title-link"><h2 class="title2">Message Board</h2></a>
			</div>

			<div class="col-md-5 text-right">
				{% if app.user is not null and is_granted('ROLE_NGO') and app.user.ngo.healthNgo and app.user.coordinator %}
				{#<div class="btn-group">
					<button type="button" class="btn btn-lg btn-default dropdown-toggle" data-toggle="dropdown">
						Health Team List <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{{ path('health_team_distribution') }}">Health Team Distribution</a></li>
						<li><a href="{{ path('health_status') }}">Message Board</a></li>
					</ul>
				</div>#}
                                <a href="{{ path('health_team_distribution') }}" class="btn btn-lg btn-warning">Health Team Distribution</a>
				<a id="add-health-team" href="" class="btn  btn-lg btn-success ph-btn-lg">{{ 'Add Team'|trans }}</a>
				{% endif %}
			</div>
        </div>
    </div>

	<div class="cb spacer"></div>

        {% if app.user is not null and is_granted('ROLE_NGO') and app.user.ngo.healthNgo and app.user.coordinator %}
    <div id="entry-container" style="display:none;">
	{% render(controller("RMSRecoveryBundle:HealthTeam:addHealthTeam")) %}
	</div>
        {% endif %}
<BR>
    <div class="table-responsive">
        <table class="table table-striped table-bordered" id="team-border">
            <tr>
                <th width="18%">Name</th>
                <th width="15%">Location</th>
                <th width="5%">MD</th>
                <th width="5%">RN</th>
                <th width="5%">Other</th>
                {#<th width="15%">Skills</th>#}
                <th width="20%">Services Rendered</th>
                <th width="5%">Date Arrived</th>
                <th width="5%">Expected Departure</th>
                <th width="5%">Contact</th>
                <th width="5%">Action</th>
            </tr>
    {% for team in teams %}
            <tr>
                <td>{{ team.name }}</td>
                <td>{{ team.location }}</td>
                <td>{{ team.md }}</td>
                <td>{{ team.rn }}</td>
                <td>{{ team.other }}</td>
                {#<td>{{ team.skills|join(", ") }}</td>#}
                <td>{{ team.servicesRendered }}</td>
                <td>{% if team.dateArrived %}{{team.dateArrived|date('M j, Y') }} {% endif %}</td>
                <td>{% if team.expectedDeparture %} {{team.expectedDeparture|date('M j, Y')}}{% endif %}</td>
                <td><span class="contact" data-contact="{{ team.contactNumber }}">
					{{ team.contactPerson }}
                                <span class="text-muted">{{ team.contactNumber }}</span>
                            </span>
                        </td>
                        <td><a class="btn btn-warning" href="{{ path('edit_health_team', {'id': team.id}) }}">Edit</a></td>
                    </tr>
    {% endfor %}
                </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% include "RMSRecoveryBundle:HealthTeam:_js.html.twig" %}
{% endblock %}
