{% extends "RMSRecoveryBundle::layout.html.twig" %}

{% block stylesheets_custom %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/frontend-aid_distribution.css') }}" />
<link href="{{ asset('bundles/rmsrecovery/datepicker/css/datepicker.css') }}" rel="stylesheet">
{% endblock stylesheets_custom %}
{% block content %}
<div class="row">
    <div class="pane alert alert-warning" style="padding-left: 185px;">
        <h3>
            Edit Ngo User
            <img style="display:none;" class="right new-entry-loader" src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
        </h3>
        {{ form_errors(form) }}

		<form role="form" id="add-entry-form" method="POST" action="{{ path('edit_ngo_user', {id: user.id}) }}">
            <div class="row">
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
                        <label for="Organization">Organization</label>
                        <input type="text" class="form-control" placeholder="Organization" value="{{ app.user.ngo }}" disabled="disabled">
                    </div>
                </div>
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.title) }}
						{{ form_widget(form.title) }}
                    </div>
                </div>
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.contactInfo) }}
						{{ form_widget(form.contactInfo) }}
                    </div>
                </div>
			</div>

			<div class="row"><br></div>

			<div class="row">
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
						<label >Username</label>
						<input type="text" class="form-control" value="{{ app.user.username }}" disabled="disabled">
                    </div>
                </div>
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.password.first) }}
						{{ form_widget(form.password.first) }}
                    </div>
                </div>
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.password.second) }}
						{{ form_widget(form.password.second) }}
						<span class="help-block">
							{{ form_errors(form.password.first) }}
						</span>
                    </div>

                </div>
            </div>

			<div class="row"><br></div>

			<div class="row">
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.firstname) }}
						{{ form_widget(form.firstname) }}
                    </div>
                </div>
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.lastname) }}
						{{ form_widget(form.lastname) }}
                    </div>
                </div>
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
						{{ form_label(form.email) }}
						{{ form_widget(form.email) }}
                    </div>
                </div>
            </div>

			<div class="row"><br></div>

			<div class="row" style="padding-right: 24%;">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-lg btn-success right">Save</button>
					<a href="{{ path('user_list') }}" class="btn btn-lg btn-warning right">Back</a>
				</div>
			</div>

		{{ form_rest(form) }}
		</form>
	</div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}