{% extends "RMSRecoveryBundle::layout.html.twig" %}

{% block content %}

<h1>User List</h1>

<table class="table table-striped table-bordered">
        <tr>
            <th width="15%">Username</th>
            <th width="15%">First name</th>
            <th width="15%">Last name</th>
            <th width="15%">Email</th>
            <th width="15%">NGO</th>
            <th width="15%">Title</th>
            <th width="15%">Contact Info</th>
			<th width="5%">Actions</th>
        </tr>
    {% for user in users %}
        <tr>
            <td>{{ user.username }}</td>
            <td>{{ user.firstname }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.ngo }}</td>
            <td>{{ user.title }}</td>
            <td>{{ user.contactInfo }}</td>
			<td><a class="btn btn-warning" href="{{ path('edit_ngo_user', {'id': user.id}) }}">Edit</a></td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
