<script src="{{ asset('bundles/rmsrecovery/datepicker/js/bootstrap-datepicker.js') }}"></script>
<script type="text/javascript">
jQuery(function($) {

	$(".glyphicon-circle-arrow-right, .glyphicon-circle-arrow-down").on("click", function(){
		$(this).toggleClass("glyphicon-circle-arrow-right glyphicon-circle-arrow-down");
	});

    $(document).on("click", '#btn-calendar', function() {
        $('#rms_recoverybundle_project_dateStart').focus();
    });
    $(document).on("click", '#btn-calendar2', function() {
        $('#rms_recoverybundle_project_dateEnd').focus();
    });

    function loadpicker() {
        try {
            $('.datepicker').datepicker({format: 'dd/mm/yyyy'})
            .on('changeDate', function(ev){
                $('.datepicker').datepicker('hide');
            });
        } catch(error) {
        }
    }
    loadpicker();

    var xhr, tmr;
    $(document).on("change", ".filter-province", function() {
        var id = $(this).val();
        var url = "{{ path('volunteering') }}?r="+Math.random()+"&_p="+id;
        if (tmr) clearTimeout(tmr);
        tmr = setTimeout(function() {
            $(".hdloader").show();
            if (xhr && xhr.readyState != 4) xhr.abort();
            $(".maintable").hide();
            xhr = $.get(url, function(data) {
                $("#hdcontent").html(data);
            });
        }, 200);
    });

    $(document).on("click", '#add-project', function() {
        var cont = $('#entry-container');
        cont.stop().toggle();
        return false;
    });

    $(document).on("submit", "#add-entry-form", function() {
        var $this = $(this), action = $this.attr("action");
        $(".alert-success", "#entry-container").remove();
        $(".new-entry-loader").show();

        $.post(action+"?r="+Math.random(), $this.serialize(), function(data) {
			$("#entry-container").html(data);
            loadpicker();
        });
        return false;
    });

    $(document).on("change", ".edit-province-project", function() {
        var muni = $(".edit-municipality-project").attr("disabled", "disabled");
        $("option[value!='']", muni).remove();
        $.post("{{ path('geo_options_municipality') }}"+"?r="+Math.random(), {id: $(this).val()}, function(data) {
            $.each(data, function(k,v) {
                $("<option></option>").attr("value", v.id).html(v.name).appendTo(muni);
            });
            muni.removeAttr("disabled");
            $("option[value!='']", ".edit-barangay-project").remove();
        });
    });

    $(document).on("change", ".edit-municipality-project", function() {
        var bara = $(".edit-barangay-project").attr("disabled", "disabled");
        $("option[value!='']", bara).remove();
        $.post("{{ path('geo_options_barangay') }}"+"?r="+Math.random(), {id: $(this).val()}, function(data) {
            $.each(data, function(k,v) {
                $("<option></option>").attr("value", v.id).html(v.name).appendTo(bara);
            });
            bara.removeAttr("disabled");
        });
    });

	var map;
	var markers = [];
	var polygon;

	function initialize()
	{
		map = new google.maps.Map(document.getElementById('map'), {
				zoom: 8,
				center: new google.maps.LatLng(11.5, 124),
			});
	}

	function addMarker(location)
	{
		var marker = new google.maps.Marker({
			position: location,
			map: map,
		});
		console.log("latlng: "+location);
		console.log("map: "+map);
		console.log("marker: "+marker);
		markers.push(marker);
		displayArea();
	}

	function displayArea()
	{
		if ( typeof polygon != 'undefined' ) {
			polygon.setMap(null);
		}
		var coords = [];
		for( var x in markers )
		{
			var position = markers[x].getPosition();
			coords.push(position);
		}

		polygon = new google.maps.Polygon({
			path:coords,
			strokeColor:"#0000FF",
			strokeOpacity:0.8,
			strokeWeight:2,
			fillColor:"#0000FF",
			fillOpacity:0.4
		});
		polygon.setMap(map);
	}

	function clearMarkers()
	{
		if( polygon != undefined )
			polygon.setMap(null);

		for( var x in markers )
		{
			markers[x].setMap(null);
		}
		markers = [];
		markersString = "";
	}

	var projectId = 0;
	var isMapEditable = false;

	$('#map-modal').on('show.bs.modal', function(event){

		google.maps.event.clearListeners(map, 'click');

		projectId = event.relatedTarget.id;
		if( projectId == 'add-map' || projectId == 'edit-map' )
		{
			$(".map-editable").show();
			$("#clear_markers").show();
			isMapEditable = true;
		}
		else
		{
			$(".map-editable").hide();
			$("#clear_markers").hide();
			isMapEditable = false;
		}

		setTimeout(function() {
			google.maps.event.trigger(map, "resize");
			populate_markers();

			if( isMapEditable == true )
			{
				google.maps.event.addListener(map, 'click', function(event) {
					addMarker(event.latLng);
				});
			}
		}, 200);

	});

	$(document).on("click", '#set-map', function() {
		setMap();
		$("#map-modal").modal('hide');
    });

	$(document).on("click", '.set-map-cancel', function() {
		clearMarkers();
    });

	$("#clear_markers").on("click", function(){
		clearMarkers();
	});

	var markersString = "";
	function setMap()
	{
		for( x in markers ) {
			var position = markers[x].getPosition();
			markersString += position.lat() + "," + position.lng() + ";";
		}
		markersString = markersString.substring(0, markersString.length - 1);
		$("#map-markers-"+projectId).val(markersString);
		$("#map-modal").modal('hide');
	}

	function populate_markers()
	{
		clearMarkers();
		if( $("#map-markers-"+projectId).val() != ''  )
		{
			var markersString = $("#map-markers-"+projectId).val();
			var markersStringArray = markersString.split(";");
			var coords;
			var marker;
			for (var i in markersStringArray)
			{
				coords = markersStringArray[i].split(",");
				if( i == 0 )
				{
					setTimeout(function() {
						google.maps.event.trigger(map, "resize");
						//map.setView([coords[0], coords[1]], 8);
						map.panTo(new google.maps.LatLng(coords[0], coords[1]));
					}, 200);
				}

				addMarker( new google.maps.LatLng(coords[0], coords[1]) );
			}
		}
		else
		{
			console.log("initialize");
			initialize();
		}
	}
	google.maps.event.addDomListener(window, 'load', initialize);

/*
	//MAP
	var map = L.map('map');
	//initializeMap();*/

	/*L.tileLayer('http://{s}.tile.cloudmade.com/267C06F3EF3E439C8B99C7FD0D78491E/997/256/{z}/{x}/{y}.png', {
		attribution: 'Geocode Mapper &copy; <a href="http://www.arcanys.com">Arcanys Inc.</a>, Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>',
		maxZoom: 18
	}).addTo(map);*/

	// Possible types: SATELLITE, ROADMAP, HYBRID, TERRAIN
	/*var googleLayer = new L.Google('HYBRID', {attribution: 'Geocode Mapper &copy; <a href="http://www.arcanys.com">Arcanys Inc.</a>'});
	map.addLayer(googleLayer);
	var markers = [];
	var polygon;
	var addMarker = function(e){
		var marker = new L.marker(
						e.latlng, {
							draggable: true
						}
					).on('dragend', moveMarker)
					.addTo(map);
		markers[marker._leaflet_id] = marker;
		displayArea();
	};

	var moveMarker = function(e){
		markers[e.target._leaflet_id] = e.target;
		displayArea();
	}

	$("#clear_markers").on("click", function(){
		clear_markers();
	});

	var clear_markers = function(){
		for( x in markers ) {
			map.removeLayer(markers[x]);
		}
		markers = [];
		markersString = "";
		displayArea();
	};

	var displayArea = function() {
		if ( typeof polygon != 'undefined' ) {
			map.removeLayer(polygon);
		}
		var coords = [];
		for( x in markers ) {
			var latlng = markers[x].getLatLng();
			coords.push([latlng.lat, latlng.lng]);
		}
		polygon = L.polygon( coords ).addTo(map);
	}

	$("#get_coords").on("click", function(){
		get_coords();
	});

	var get_coords = function() {
		var out = '';
		for (x in markers)
		{
			out += markers[x].getLatLng().toString();
		}
		alert(out);
	}

	map.on('click', addMarker);

	//added map.invalidateSize() because the container width/height for the map element has not yet been adjusted to the width/height of the modal dialog. \
	//This causes the map size to be incorrect (smaller) than what it should be.

	$(document).on("click", '#show-map-button', function() {
	//$('#map-modal').on('show.bs.modal', function(){
		setTimeout(function() {
			map.invalidateSize();
			populate_markers();
			console.log("showing map");
		}, 200);
	});

	$(document).on("click", '#set-map', function() {
		setMap();
		$("#map-modal").modal('hide');
    });

	$('#map-modal').on('hidden.bs.modal', function(){
		//setMap();
	});

	$(document).on("click", '#set-map-cancel', function() {
		clear_markers();
    });

	var markersString = "";
	function setMap()
	{
		for( x in markers ) {
			var latlng = markers[x].getLatLng();
			markersString += latlng.lat + "," + latlng.lng + ";";
		}
		markersString = markersString.substring(0, markersString.length - 1);
		$("#map-markers").val(markersString);
		$("#map-modal").modal('hide');
	}

	function populate_markers()
	{
		console.log("populate_markers");
		clear_markers();
		if( $("#map-markers").val() != ''  )
		{
			console.log("map markers is not empty");
			var markersString = $("#map-markers").val();
			var markersStringArray = markersString.split(";");
			var coords;
			var marker;
			for (var i in markersStringArray)
			{
				coords = markersStringArray[i].split(",");
				if( i == 0 )
				{
					setTimeout(function() {
						map.invalidateSize();
						map.setView([coords[0], coords[1]], 8);
					}, 200);
				}
				marker = new L.marker(
								[coords[0], coords[1]], {
									draggable: true
								}
							).on('dragend', moveMarker)
							.addTo(map);
				markers[marker._leaflet_id] = marker;
				displayArea();
			}
		}
		else
		{
			initializeMap();
		}
	}

	function initializeMap()
	{
		console.log("initializeMap");
		map.setView([11.5, 124], 8);
	}*/
});
</script>
