<div class="row add-project">
    <div class="pane alert alert-warning">
        <h3>
            Add Project
            <img style="display:none;" class="right new-entry-loader" src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt="">
        </h3>
        {{ form_errors(form) }}

        <form role="form" id="add-entry-form" method="POST" action="{{ path('project_add') }}">
            <div class="row">
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
                        <label for="Organization">Organization</label>
                        <input type="text" class="form-control" placeholder="Organization" value="{{ app.user.ngo }}" disabled="disabled">
                    </div>
                </div>
				<div class="col-xs-2 col-xs-no-padding-right">
					<div class="input-group form-group">
					{{ form_label(form.dateStart) }}
					{{ form_widget(form.dateStart) }}
					<span class="input-group-btn btn-calendar-custom">
						<button id="btn-calendar" class="btn btn-default glyphicon glyphicon-calendar" type="button"></button>
					</span>
					</div>
				</div>
				<div class="col-xs-2 col-xs-no-padding-right">
					<div class="input-group form-group">
						{{ form_label(form.dateEnd) }}
						{{ form_widget(form.dateEnd) }}
						<span class="input-group-btn btn-calendar-custom">
							<button id="btn-calendar2" class="btn btn-default glyphicon glyphicon-calendar" type="button"></button>
						</span>
					</div>
				</div>
				<div class="col-xs-3 col-xs-no-padding-right">
					<div class="form-group">
					{{ form_label(form.type) }}
					{{ form_widget(form.type) }}
					</div>
				</div>
				<div class="col-xs-1 col-xs-no-padding-right" style="width:12%;">
					<div class="form-group">
					{{ form_label(form.peopleRequired) }}
					{{ form_widget(form.peopleRequired) }}
					</div>
				</div>
			</div>

			<div class="row"><br>
                <div class="col-xs-3 col-xs-no-padding-right">
                    <div class="form-group">
					{{ form_label(form.province) }}
					{{ form_widget(form.province) }}
	                </div>
				</div>
                <div class="col-xs-3 col-xs-no-padding-right">
					<div class="form-group">
					{{ form_label(form.municipality) }}
					{{ form_widget(form.municipality) }}
					</div>
				</div>
                <div class="col-xs-3 col-xs-no-padding-right">
					<div class="form-group">
					{{ form_label(form.geo) }}
					{{ form_widget(form.geo) }}
					</div>
				</div>
				<div class="col-xs-2 col-xs-no-padding-right">
                    <div class="form-group">
						<div style="height:24px;"></div>
						<button id="add-map" type="button" class="btn for-modal" data-toggle="modal" data-target="#map-modal">Show Map</button>
                    </div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-7 col-xs-11-custom col-xs-no-padding-right">
					<div class="form-group">
					{{ form_label(form.description) }}
					{{ form_widget(form.description) }}
					</div>
				</div>
				{#<div class="col-xs-4 col-xs-no-padding-right">
					<div class="form-group">
					{{ form_label(form.skills) }}
					{{ form_widget(form.skills) }}
					</div>
				</div>#}
			</div>
			<div class="row">
				<div class="col-xs-4 col-xs-no-padding-right">
					<div class="form-group">
					{{ form_label(form.contactInstructions) }}
					{{ form_widget(form.contactInstructions) }}
					</div>
				</div>
				<div class="col-xs-3 col-xs-no-padding-right">
					<div class="form-group">
					{{ form_label(form.contactPerson) }}
					{{ form_widget(form.contactPerson) }}
					</div>
				</div>
				<div class="col-xs-2 col-xs-no-padding-right">
					<div class="form-group">
					{{ form_label(form.contactNumber) }}
					{{ form_widget(form.contactNumber) }}
					</div>
				</div>
				<div class="col-xs-3 col-xs-no-padding-right project-email">
					<div class="form-group">
					{{ form_label(form.email) }}
					{{ form_widget(form.email) }}
					</div>
				</div>
			</div>

			<input type="hidden" value="" id="map-markers-add-map" name="map_markers">
			<div class="row">
				<div class="col-xs-12">
					<button type="submit" class="btn btn-lg btn-success right">Save</button>
				</div>
			</div>

			{{ form_rest(form) }}
		</form>
	</div>
</div>