<div class="image-loader"><img style="display:none;" class="hdloader" src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt=""></div>
<div class="panel-group" id="accordion">
{% for project in projects %}
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
              <span class="panel-header first-col">
                  {% if project.ngo.logo %}
					  <img src="{{ project.ngo.logo }}" alt="{{ project.ngo }}" class="project-img">
                  {% endif %}
				  {{project.ngo}}
              </span>
			  <a style="text-decoration: none;" class="volunteer-project" data-toggle="collapse" data-parent="#accordion" href="#collapse{{project.id}}">
				<span class="panel-header second-col">
					{{project.description | truncate(100, true)}}
				</span>
			  </a>
              <div style="float: right; min-width: 25%;">
                  <span>
                      <span class="panel-timedate" style="float: left;">
                          {% if project.dateStart %} {{project.dateStart|date('M j, Y')}} {% endif %}
                      </span>
                      <a style="float: right; text-decoration: none; margin-top: -3px;" data-toggle="collapse" data-parent="#accordion" href="#collapse{{project.id}}">
                          <span class="glyphicon glyphicon-circle-arrow-right"></span> Details
                      </a>
                  </span>
              </div>


          </h4>
        </div>
        <div id="collapse{{project.id}}" class="panel-collapse collapse">
          <div class="panel-body outside-panel-body">
              <div class="inside-panel-body">
                  <p>
                      <i>
                          {{project.description}}
                      </i>
                  </p>
                  <ul class="panel-body-ul">
                      <li>
                          <b>Date:</b> {% if project.dateStart %} {{project.dateStart|date('M jS')}} {{project.dateStart|date('(D)')|upper}} {% endif %} to {% if project.dateEnd %} {{project.dateEnd|date('M jS')}} {{project.dateEnd|date('(D)')|upper}}{% endif %}
                      </li>
                      <li>
                          <b>People required:</b> {{project.peopleRequired}}
                      </li>
                      <li>
                          <b>Project location:</b>

							{% if project.geo.isProvince %}
								{{ project.geo }}
							{% elseif project.geo.isMunicipality %}
								{{ project.geo.province }}, {{ project.geo }}
							{% elseif project.geo.isBarangay %}
								{{project.geo.municipality.province}}, {{project.geo.municipality}}, Barangay {{project.geo}}
							{% endif %}

							{% if project.map is not null %}
								<button id="{{project.id}}" type="button" class="btn for-modal show-map-button" data-toggle="modal" data-target="#map-modal">Show Map</button>
								<input type="hidden" value="{{project.map}}" id="map-markers-{{project.id}}" name="map_markers">
							{% endif %}
                      </li>
                      {#<li>
                          <b>Specific skillset needed:</b> {{project.skills}}
                      </li>#}
                      <li>
                          <b>Project Type:</b> {{project.type}}
                      </li>
                      <li>
                          <b>Contact instructions:</b> {{project.contactInstructions}}
                      </li>
                      <li>
                          <b>Contact person:</b> {{project.contactPerson}}
                      </li>
                      <li>
                          <b>Contact phone number:</b> {{project.contactNumber}}
                      </li>
                      <li>
                          <b>Contact email address:</b> {{project.email}}
                      </li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
{% else %}
	{% if filters|length > 0 %}
		<span class="text-muted">No results found.</span>
	{% endif %}
{% endfor %}
</div>