{% extends "RMSRecoveryBundle::layout.html.twig" %}
{% block nav_tabs %}
    {{ _this.nav_tabs('volunteering') }}
{% endblock %}

{% block stylesheets_custom %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/health-team-distribution.css') }}" />
{% if is_granted('ROLE_NGO') and app.user.verified %}
	<link href="{{ asset('bundles/rmsrecovery/datepicker/css/datepicker.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
{% endif %}
{% endblock stylesheets_custom %}

{% block content %}
	{% if is_granted('ROLE_NGO') and app.user.verified %}
	<div class="" id="">
		<div class="row ph-header-2">
			<div class="row ph-header-2">
				<div class="col-md-7">
					&nbsp;
				</div>
				<div class="col-md-5 text-right">
					<a href="{{ path('project_manage') }}" class="btn btn-lg btn-warning">Manage Projects</a>
					<a id="add-project" href="{{ path('project_add') }}" class="btn btn-success btn-lg">Post New Project</a>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% if is_granted('ROLE_NGO') and app.user.verified %}
		<div class="cb spacer"></div>
		<div id="entry-container" style="display:none;">
			{% render(controller("RMSRecoveryBundle:Project:addProject")) %}
		</div>
	{% endif %}

	{% block health_content %}
	{% set show_all_button = true %}
	{% include "RMSRecoveryBundle:HealthTeam:_provinces.html.twig" %}
	<div id="hdcontent">
		{% include "RMSRecoveryBundle:Project:indexContent.html.twig" %}
	</div>
	{% include "RMSRecoveryBundle:Project:setMap.html.twig" %}
	{% endblock %}


	<div class="cb spacer"></div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% include "RMSRecoveryBundle:Project:_js.html.twig" %}
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBszpleZa-a3Gux2IclWGDp6sYTyaKa0cE&sensor=false"></script>
{% endblock %}
