{% extends "RMSRecoveryBundle::layout.html.twig" %}
{% block nav_tabs %}
    {{ _this.nav_tabs('volunteering') }}
{% endblock %}

{% block stylesheets_custom %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/frontend-aid_distribution.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/rmsrecovery/css/health-team-distribution.css') }}" />
<link href="{{ asset('bundles/rmsrecovery/datepicker/css/datepicker.css') }}" rel="stylesheet">
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<!--[if lte IE 8]>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
<![endif]-->
<style type="text/css">
	#map-modal div.modal-dialog {
		width: 900px;
	}
	#map { height: 450px;width: 100%;  }
</style>
{% endblock stylesheets_custom %}

{% block content %}
<div class="container c-border" id="health-team-distribution">
    <div class="row ph-header-2">
		<div class="row ph-header-2">
			<!--<div class="col-md-7">
				<h2 class="title"><img src="{{ asset('bundles/rmsrecovery/images/health.png') }}">{{ 'Health Team List'|trans }}</h2>
				<a href="{{ path('health_status') }}" class="title-link"><h2 class="title2">Message Board</h2></a>
			</div>-->

			<div class="col-md-12 text-right">
				{% if app.user is not null and is_granted('ROLE_NGO') and app.user.coordinator %}
                <a href="{{ path('volunteering') }}" class="btn btn-lg btn-warning">Volunteer List</a>
				<a id="add-project" href="{{ path('project_add') }}" class="btn btn-success btn-lg">Post New Project</a>
				{% endif %}
			</div>
        </div>
    </div>

    {% if app.user is not null and is_granted('ROLE_NGO') and app.user.coordinator %}
		<div class="cb spacer"></div>
		<div id="entry-container" style="display:none;">
			{% render(controller("RMSRecoveryBundle:Project:addProject")) %}
		</div>
	{% endif %}
<BR>
    <div class="table-responsive">
        <table class="table table-striped table-bordered volunteering">
            <tr>
                <th width="10%">NGO</th>
                <th width="10%">Location</th>
                <th width="18%">Description</th>
                <th width="8%">Date</th>
                <th width="5%">People Required</th>
                <!--<th width="10%">Skills</th>-->
                <th width="5%">Type</th>
                <th width="5%">Contact</th>
                <th width="5%">Action</th>
            </tr>
    {% for project in projects %}
            <tr>
                <td>{{ project.ngo }}</td>
                <td>{% if project.geo.isProvince %}
						{{ project.geo }}
					{% elseif project.geo.isMunicipality %}
						{{ project.geo.province }}, {{ project.geo }}
					{% elseif project.geo.isBarangay %}
						{{project.geo.municipality.province}}, {{project.geo.municipality}}, Barangay {{project.geo}}
					{% endif %}
				</td>
                <td>{{ project.description }}</td>
                <td>{% if project.dateStart %} {{project.dateStart|date('M jS')}} {% endif %}</td>
				<td>{{ project.peopleRequired }}</td>
				<!--<td>{{ project.skills }}</td>-->
				<td>{{ project.type }}</td>
                <td><span class="contact" data-contact="{{ project.contactNumber }}">
					{{ project.contactPerson }}
                                <span class="text-muted">{{ project.contactNumber }}</span>
                            </span>
                        </td>
                        <td><a class="btn btn-warning" href="{{ path('edit_project', {'id': project.id}) }}">Edit</a></td>
                    </tr>
    {% endfor %}
                </table>
    </div>
</div>
{% include "RMSRecoveryBundle:Project:setMap.html.twig" %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% include "RMSRecoveryBundle:Project:_js.html.twig" %}
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBszpleZa-a3Gux2IclWGDp6sYTyaKa0cE&sensor=false"></script>
{% endblock %}
