<!-- Modal -->
<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-label-left">
				<h4 class="modal-title modal-label-header2" id="myModalLabel">Project Location</h4>
			</div>
			<div class="modal-label-right">
				<button data-dismiss="modal" aria-hidden="true" class="btn btn-primary btn-sm btn-modal-close">
					<span class="glyphicon glyphicon-remove"></span>
					Close
				</button>
			</div>
			<div class="cb" style="border-bottom: 1px solid #e5e5e5;"></div>
			<div class="modal-body">
				<div id="map"></div><br>
				<!--<button id="get_coords">Get Coords</button>-->
				<button id="clear_markers">Clear Markers</button>
				<img style="display:none;" class="pull-right hdloader-map" src="{{ asset('bundles/rmsrecovery/images/ajax-loader_blue.gif') }}" alt=""><br>
			</div>
			<div class="modal-footer map-editable">
				<button class="btn btn-sm set-map-cancel" data-dismiss="modal" aria-hidden="true" id="">Cancel</button>
				<button id="set-map" type="submit" class="btn btn-sm btn-primary">Set Location</button>
			</div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->