<div class="row">
    <div class="alert alert-success alert-dismissable">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
        <strong>Success!</strong> Project Added Successfully.
    </div>
</div>
{% render(controller("RMSRecoveryBundle:Project:addProject")) %}
