{% extends "RMSRecoveryBundle::layout.html.twig" %}

{% block content %}

<h1>Aid History</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered aid-history-table">
            <tr>
                <th width="15%">Location</th>
                <th width="10%">Aid Provided</th>
                <th width="5%">Qty.</th>
                <th width="35%">Description</th>
                <th width="10%">Est. People Served</th>
                <th width="15%">Date Given</th>
                <th width="15%">Est. Supply Exhaustion</th>
                <th width="5%">Actions</th>
            </tr>
        {% for aid in aids %}
            <tr>
                <td>{{ aid.geo }}</td>
                <td>{{ aid.type }}</td>
                <td>{% if aid.quantity > 0 %}{{ aid.quantity|number_format }}{% endif %}</td>
                <td>{{ aid.description }}</td>
                <td>{% if aid.peopleCatered > 0 %}{{ aid.peopleCatered|number_format }}{% endif %}</td>
                <td>{{ aid.dateStart|date('M j, Y') }}</td>
                <td>{% if aid.dateEnd %}{{ aid.dateEnd|date('M j, Y') }}{% endif %}</td>
                <td><a class="btn btn-warning" href="{{ path('edit_aid_entry', {'id': aid.id}) }}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
