<!-- BARANGAY BOARD STARTS HERE -->
<div id="barangay-board-{{ barangay.id }}" class="barangay-board">
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <div class="col-md-12 panel-title barangay-board-header">
                <span class="panel-title">
                    Barangay Board
                </span>
            </div>
            <!-- DATA STARTS HERE -->
            {% for message in barangay.messages %}
            <div class="col-md-2 board-first-field">
                {{ message.date|date('j M Y') }}
            </div>
            <div class="col-md-3 board-second-field">
                <span>{{ message.reporter }}</span>
                <br>
                <small>[{{ message.reporter.ngo }}]</small>
            </div>
            <div class="col-md-7 alert alert-warning board-third-field">
                {{ message }}
            </div>
            {% endfor %}
            <!-- DATA ENDS HERE -->
            
            <div class="col-md-10 board-separator">
                <hr>
            </div>

            {% if app.user is not null and is_granted('ROLE_NGO') and app.user.verified(false) %}
            <div class="col-md-12 board-form-labels">
                <div>
                    <span>
                        Write an update
                    </span>
                    <span>
                        <span id="messagebox-chars-{{ barangay.id }}" style="float: none !important;">200</span> Characters Left
                    </span>
                </div>

                <div class="board-form-submit">
                    <form action="{{ path('messageboard', {id:barangay.id}) }}" method="POST" data-barangay="{{ barangay.id }}">
                        {{ form_row(form.message) }}
                        {{ form_widget(form) }}
                        <button type="submit" class="btn btn-success">Post Update</button>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="alert alert-warning">
                 <a href="{{ path('login') }}">Sign in</a> to post on the Barangay Board
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- BARANGAY BOARD ENDS HERE -->
