		<div class="row navbar-btn">
			<div class="col-md-3 text-right comp-right">
			</div>
			<div class="col-md-9">
			{% for msg_loc, row in locations_msg %}
				{% if row['messages']|length > 0 %}
					<div class="padding-left">Latest Update</div>
				{% else %}
					<div class="padding-left">No results found.</div>
				{% endif %}
			{% endfor %}
			</div>
		</div>
		<div>
		{% for msg_loc, row in locations_msg %}
			{% if msg_loc == location %}
				{% for message in row['messages'] %}
				<div class="row">
					<div class="col-md-3 text-right comp-right">
						<h4 class="name">{{ message.reporter }}</h4>
						on {{ message.date|date('M jS, H:ia') }}
					</div>
					<div class="col-md-9">
						<div class="popover right description">
							<div class="arrow"></div>
							<div class="popover-content">
								{{ message.message }}
							</div>
						</div>
						<div class="padding-left see-prev"> </div>
					</div>
				</div>
				{% endfor %}
			{% endif %}
		{% endfor %}
		</div>
		<div class="board-separator">
			<hr>
		</div>

		{% if app.user is not null and is_granted('ROLE_NGO') and app.user.verified(false) %}
		<div class="board-form-labels">

			<div class="col-md-3 text-right comp-right">
			</div>
			<div class="col-md-9">
			<div class="orange-text">
				<span>
					Write an update
				</span>
			</div>

			<div class="board-form-submit">
				<form action="{{ path('posthealthstatus', {id: id}) }}" method="POST" id="health-status-form" data-location={{id}}>
					{{ form_row(form.message) }}
					{{ form_widget(form.message) }}
					{{form_widget(form)}}
					<button type="submit" class="btn btn-success post-update-button">Post Update</button>
				</form>
			</div>
			</div>
		</div>
		{% else %}
		<div class="alert alert-warning">
			 <a href="{{ path('login') }}">Sign in</a> to post on the Message Board
		</div>
		{% endif %}