{% extends "SonataAdminBundle:CRUD:edit.html.twig" %}

{% block formactions %}

<div class="control-group">
    <div class="controls sonata-ba-field sonata-ba-field-standard-natural  ">
        <div id="map" class="span10"></div>
    </div>
</div>
<div class="control-group">
    <div class="controls sonata-ba-field sonata-ba-field-standard-natural  ">
        <button onclick="clear_markers();" class="btn btn-warning" type="button">{{ 'Clear Markers'|trans }}</button>
    </div>
</div>

<script type="text/javascript">
    var map = L.map('map').setView([{{ object.latitude }}, {{ object.longitude }}], {{ object.mapZoom }});
    L.tileLayer('http://{s}.tile.cloudmade.com/{{ map_apikey|upper }}/997/256/{z}/{x}/{y}.png', {
        attribution: 'Geocode Mapper &copy; <a href="http://www.arcanys.com">Arcanys Inc.</a>, Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 18
    }).addTo(map);
    var markers = [];
    var polygon;
    
    var get_coords = function() {
        var out = [], row, ll;
        for (x in markers)
        {                
            ll = markers[x].getLatLng();
            row = [ll.lat, ll.lng];
            out.push(row.join(","));
        }
        jQuery(".edit-map").val(out.join(";"));
    }
    
    var addMarker = function(e){
        var marker = new L.marker(
                        e.latlng, {
                            draggable: true
                        }
                    ).on('dragend', moveMarker)                        
                    .addTo(map);
        markers[marker._leaflet_id] = marker;
        displayArea();
        get_coords();
    };

    var moveMarker = function(e){
        markers[e.target._leaflet_id] = e.target;
        displayArea();
    }

    var clear_markers = function(){
        for( x in markers ) {
            map.removeLayer(markers[x]);
        }
        markers = [];
        displayArea();
        jQuery(".edit-map").val("");
    };

    var displayArea = function() {            
        if ( typeof polygon != 'undefined' ) {
            map.removeLayer(polygon);
        }
        var coords = [];
        for( x in markers ) {
            var latlng = markers[x].getLatLng();
            coords.push([latlng.lat, latlng.lng]);
        }
        polygon = L.polygon( coords ).addTo(map);            
    }
    
    var addCoord = function(lat, lng) {
        var latlng = new L.LatLng(lat, lng);
        var marker = new L.marker(
                        latlng, {
                            draggable: true
                        }
                    ).on('dragend', moveMarker)                        
                    .addTo(map);
        markers[marker._leaflet_id] = marker;
    }
    {% if object.coords %}
        {% for coord in object.coords %}
            addCoord({{ coord.lat }}, {{ coord.lng }});
        {% endfor %}
        displayArea();
    {% endif %}

    map.on('click', addMarker);
</script>

{{ parent() }}
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
<style type="text/css">
    #map { height: 500px; }
</style>
{% endblock %}
