{% extends "SonataAdminBundle:CRUD:edit.html.twig" %}

{% block formactions %}

<div class="control-group">
    <div class="controls sonata-ba-field sonata-ba-field-standard-natural  ">
        <div id="map" class="span10"></div>
    </div>
</div>
<div class="control-group">
    <div class="controls sonata-ba-field sonata-ba-field-standard-natural  ">
        <button onclick="clearMarkers();" class="btn btn-warning" type="button">{{ 'Clear Markers'|trans }}</button>
    </div>
</div>

<script type="text/javascript">

    /*var map = L.map('map').setView([{{ object.latitude }}, {{ object.longitude }}], {{ object.mapZoom }});
    L.tileLayer('http://{s}.tile.cloudmade.com/{{ map_apikey|upper }}/997/256/{z}/{x}/{y}.png', {
        attribution: 'Geocode Mapper &copy; <a href="http://www.arcanys.com">Arcanys Inc.</a>, Imagery &copy; <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 18
    }).addTo(map);
    var markers = [];
    var polygon;*/

	var map;
	var markers = [];
	var polygon;

	function initialize()
	{
		map = new google.maps.Map(document.getElementById('map'), {
				zoom: 8,
				center: new google.maps.LatLng("{{ object.latitude }}", "{{ object.longitude }}"),
			});

		populate_markers();

		google.maps.event.clearListeners(map, 'click');
		google.maps.event.addListener(map, 'click', function(event) {
			addMarker(event.latLng);
		});
	}

	function addMarker(latlng)
	{
		var marker = new google.maps.Marker({
			position: latlng,
			map: map,
		});

		markers.push(marker);
		displayArea();
		getCoords();
    };

    function getCoords()
	{
        var out = [], row, ll;
        for (x in markers)
        {
            ll = markers[x].getPosition();
            row = [ll.lat(), ll.lng()];
            out.push(row.join(","));
        }
        $(".edit-map").val(out.join(";"));
    }

	function clearMarkers()
    {
		if( polygon != undefined )
			polygon.setMap(null);

		for( var x in markers )
		{
			markers[x].setMap(null);
		}
		markers = [];
		$(".edit-map").val("");
    };

	function displayArea()
    {
		if ( typeof polygon != 'undefined' ) {
			polygon.setMap(null);
		}
		var coords = [];
		for( var x in markers )
		{
			var position = markers[x].getPosition();
			coords.push(position);
		}

		polygon = new google.maps.Polygon({
			path:coords,
			strokeColor:"#0000FF",
			strokeOpacity:0.8,
			strokeWeight:2,
			fillColor:"#0000FF",
			fillOpacity:0.4
		});
		polygon.setMap(map);
    }

	function populate_markers()
	{
		{% if object.coords %}
			{% for coord in object.coords %}

				addMarker( new google.maps.LatLng("{{ coord.lat }}", "{{ coord.lng }}") );

			{% endfor %}

			displayArea();

		{% endif %}
	}

	google.maps.event.addDomListener(window, 'load', initialize);
</script>

{{ parent() }}
{% endblock %}


{% block javascripts %}
{{ parent() }}
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBszpleZa-a3Gux2IclWGDp6sYTyaKa0cE&sensor=false"></script>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
    #map { height: 500px; }
	.sonata-bc img{
		max-width: none;
	}
</style>
{% endblock %}
