{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_top_bar_search %}
{% endblock %}

{% block sonata_nav_menu %}
{{ parent() }}
<ul class="nav navbar-nav pull-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.firstname }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('admin_rms_recovery_useradmin_edit', {id:app.user.id}) }}">{{ 'Profile'|trans }}</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('logout') }}">{{ 'Logout'|trans }}</a></li>
        </ul>
    </li>
</ul>
{% endblock %}
